@if (run) {
  <div class="run-container">
    <div class="run-header" style="position: relative;" >
      <div [class]='["splitBackground", getFloorKey(run.floor)]'></div>
      <span class="altitude" matTooltip="{{roundNumber(run.altitude, 5)}} Meters">{{roundNumber(run.altitude, 3)}} M</span>
      <span class="floor-name">{{floorToName(run.floor)}}</span>
      @if (run.mods && run.mods.length > 0) {
        <div>
          @for (mod of getMods(run.mods); track $index) {
            <img [src]="getModImage(mod)" class="mod"/>
          }
        </div>
      }
      @if (run.gameOverReason) {
        <span style="margin-bottom: 5px" class="bold-text" >Reason of death: {{gameOverFlavourText(run.gameOverReason)}}</span>
      }
      <mat-icon class="share-btn" (click)="shareRun()" matTooltip="Share run with your friends">share</mat-icon>
    </div>
    <div class="stats-container">
      <div class="flexStretch" matTooltip="{{roundNumber(run.pps, 5)}} PPS">{{roundNumber(run.pps, 3)}} PPS</div>
      <div class="flexStretch" matTooltip="{{roundNumber(run.apm, 5)}} APM">{{roundNumber(run.apm, 3)}} APM</div>
      <div class="flexStretch" matTooltip="{{roundNumber(run.vs, 5)}} VS">{{roundNumber(run.vs, 3)}} VS</div>
    </div>
    <div class="run-stats-container">
      <div class="run-stats-row">
        <div class="stat-box attack">
          <div class="title">Attack</div>
          <div class="stat-rows">
            <div class="row">
              <span class="stat">Garbage Sent:</span>
              <span class="dots"></span>
              <span class="value">{{roundNumber(run.garbageSent, 0)}}</span>
            </div>
            <div class="row">
              <span class="stat">Max Spike:</span>
              <span class="dots"></span>
              <span class="value"> {{run.garbageMaxSpike}}</span>
            </div>
            <div class="row">
              <span class="stat">APP:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.app)}}</span>
            </div>
            <div class="row" matTooltip="Meassured agression based on the ratio of garbage sent to garbage received.">
              <span class="stat">Aggression Score</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(this.agressionScore)}} <span class="alt-value"> / 100</span></span>
            </div>
          </div>
        </div>
        <div class="stat-box defense">
          <div class="title">Defense</div>
          <div class="stat-rows">
            <div class="row">
              <span class="stat">Garbage Received:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.garbageReceived, 0)}}</span>
            </div>
            <div class="row">
              <span class="stat">Garbage Cleared:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.garbageCleared, 0)}}</span>
            </div>
            <div class="row">
              <span class="stat">Cancel rate:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.garbageCleared / run.garbageReceived * 100, 2)}} %</span>
            </div>
            <div class="row" matTooltip="Measures survival quality under pressure.">
              <span class="stat">Defense Score</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(this.defenseScore)}} <span class="alt-value"> / 100</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="run-stats-row">
        <div class="stat-box efficiency">
          <div class="title">Stability</div>
          <div class="stat-rows">
            <div class="row">
              <span class="stat">Finesse:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.finesse)}} %</span>
            </div>
            <div class="row">
              <span class="stat">Pieces placed:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.piecesPlaced, 0)}}</span>
            </div>
            <div class="row">
              <span class="stat">Inputs:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.inputs, 0)}}</span>
            </div>
            <div class="row">
              <span class="stat">Holds:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.holds, 0)}}</span>
            </div>
            <div class="row" matTooltip="Measures mechanical precision.">
              <span class="stat">Stability Score</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(this.stabilityScore)}}<span class="alt-value"> / 100</span></span>
            </div>
          </div>
        </div>
        <div class="stat-box playstyle">
          <div class="title">Playstyle</div>
          <div class="stat-rows">
            <div class="row">
              <span class="stat">Quads:</span>
              <span class="dots"></span>
              <span class="value"> {{run.quads}}</span>
            </div>
            <div class="row">
              <span class="stat">Spins:</span>
              <span class="dots"></span>
              <span class="value"> {{run.spins}}</span>
            </div>
            <div class="row">
              <span class="stat">Back2Back:</span>
              <span class="dots"></span>
              <span class="value"> {{run.back2Back}}</span>
            </div>
            <div class="row">
              <span class="stat">Max Combo:</span>
              <span class="dots"></span>
              <span class="value"> {{run.topCombo}}</span>
            </div>
            <div class="row" matTooltip="Measures how well aggression and defense are balanced.">
              <span class="stat">Playstyle Score</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(this.pressureScore)}}<span class="alt-value"> / 100</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="run-stats-row">
        <div class="stat-box rank">
          <div class="title">Game Performance</div>
          <div class="stat-rows">
            <div class="row">
              <span class="stat">Time alive:</span>
              <span class="dots"></span>
              <span class="value"> {{run.totalTime | date:'m:ss'}}</span>
            </div>
            <div class="row">
              <span class="stat">Position:</span>
              <span class="dots"></span>
              <span class="value"> {{run.finalPosition}} <span class="alt-value"> / {{run.peakPlayerCount}}</span></span>
            </div>
            <div class="row">
              <span class="stat">Peak Climbspeed:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.peakRank)}}</span>
            </div>
            <div class="row">
              <span class="stat">Targeting:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(run.targetingFactor,2)}}x</span>
            </div>

            <div class="row">
              <span class="stat">Performance Score:</span>
              <span class="dots"></span>
              <span class="value"> {{roundNumber(this.totalScore)}}<span class="alt-value"> / 100</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="boldText centerText flexStretch subtleText" style="margin: auto" > played {{run.playedAt | date:'medium'}}</span>
  </div>
} @else {
  <div class="flexContainer centerText verticalCenter">
    <span>loading...</span>
  </div>
}
