@use '../../../styles' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/base' as base;

footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  width: 100%;

  .marginLeft{
    margin-left: 10px;
  }

  a {
    color: $primary-color !important;
    text-decoration: none;
    cursor: pointer;
  }

  background: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  height: 50px;
  border-top: 2px solid $accent-color;
  border-left: 2px solid $accent-color;
  border-right: 2px solid $accent-color;
  box-sizing: border-box;

  @include base.mobile {
    border-left: none;
    border-right: none;
  }

  .hidden {
    display: none;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;

    @include base.mobile {
      font-size: 12px;
    }
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav .userInfo{
    display: flex;
    align-items: center;
    text-transform: uppercase;

    img{
      max-height: 42px;
      border-radius: 50%;
    }
  }

  .footerBackground{
    background: linear-gradient(to top, $background-color 0, $background-shade 75%);
  }

  .flexContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }

  .hoverContainer{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    align-items: center;
  }
}
