<footer>
  <div class="flexContainer marginLeft">
    <a class="icon" href="https://github.com/Founntain/Zenith.DailyChallenge.Web"><span class="material-symbols-outlined">code</span></a>
    <a class="icon" href="https://github.com/Founntain/Tetrio.Overlay"><span class="material-symbols-outlined">dns</span></a>
    <a class="icon" href="https://ch.tetr.io/u/founntain"><span class="material-symbols-outlined">crossword</span></a>
    <a class="icon" href="https://steamcommunity.com/id/Founntain/"><span class="material-symbols-outlined">sports_esports</span></a>
  </div>

  <nav>
    <a href="https://founntain.dev">made with ❤️ by founntain 🦊</a>
  </nav>
</footer>
