@use '../../../styles' as *;
@use '../../../styling/colors' as *;

footer {
  .marginLeft{
    margin-left: 10px;
  }

  a {
    color: $primary-color !important;
    text-decoration: none;
    cursor: pointer;
  }

  width: 100%;
  background: #1976d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  height: 50px;
  background: linear-gradient(to bottom, $background-shade 0, $background-color 100%);
  border-top: 2px solid $accent-color;
  border-left: 2px solid $accent-color;
  border-right: 2px solid $accent-color;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    border-left: none;
    border-right: none;
  }

  .hidden {
    display: none;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav .userInfo{
    display: flex;
    align-items: center;
    text-transform: uppercase;

    img{
      max-height: 42px;
      border-radius: 50%;
    }
  }

  .flexContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }

  .hoverContainer{
    display: flex;
    flex-direction: row;
    vertical-align: center;
    justify-content: center;
    align-items: center;
  }
}
