<!-- Welcome -->

<!--<div class="baseContainer">-->
<!--  <div class="container gap">-->
<!--    <img src="assets/banner.png" style="width: 100%; height: auto" />-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <h1 class="headerText"> ZENITH DAILY CHALLENGE</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div>-->
<!--      <span>Welcome! No matter how you found this place, I do welcome you! Here you can find challenges in various difficulties, mod based challenges and community challenges or you can use this site to track your runs and stats.</span>-->
<!--    </div>-->

<!--    <div>-->
<!--      <span>To complete a challenge, you must submit a</span>-->
<!--      <span class="highlight uppercase"> single run </span>-->
<!--      <span>that meets</span>-->
<!--      <span class="highlight uppercase">  all </span>-->
<!--      <span>conditions for a difficulty! You can complete multiple difficulties with one run.</span>-->
<!--    </div>-->
<!--    @if (!(user$ | async)) {-->
<!--      <div class="flexColumn">-->
<!--        <span>You can submit runs by <span class="highlight">login in with your discord</span> account and click on your profile in the <span class="highlight">top right.</span></span>-->
<!--        <span class="highlight">Your discord account has to be linked to your TETR.IO account and is publicly visible!</span>-->
<!--      </div>-->
<!--    }-->

<!--    <div class="flexColumn">-->
<!--      <span>Resources belong to <a class="link" href="https://osk.sh" style="text-decoration: none">osk</a> and <a class="link" style="text-decoration: none" href="https://tetr.io">TETR.IO</a></span>-->
<!--      <span>Icon and Background made by <a class="link" href="https://melisek.dev" style="text-decoration: none">Melisek</a></span>-->
<!--      <span>Weekly Icons by <a class="link" href="https://www.shenzhia.de/" style="text-decoration: none">PinkMilkTea</a></span>-->
<!--    </div>-->
<!--  </div>-->
<!--  @if (user$ | async; as user) {-->
<!--    <div (click)="submitRuns()" class="submitButton"><a>Submit New Runs</a></div>-->
<!--  }-->
<!--</div>-->

<app-challenges-new />

<!-- Daily Challenges -->
<app-challenges />

<!-- Community Challenges -->
<app-community-challenge />

<!-- Server Statistics-->
<app-zdc-stats />

<!-- Challenge Leaderboard -->
<div class="baseContainer">
  <mat-tab-group dynamicHeight class="remove-border-bottom">
    <mat-tab label="Leaderboard">
      @if (seasonalLeaderboardData !== undefined) {
        <div>
          @if (seasonalLeaderboardData?.name != undefined) {
            <h1 class="headerText centerText" style="margin: 0;">{{ seasonalLeaderboardData?.name }}</h1>
          }

          <div class="clock centerText">
            <span class="clock highlight">{{leaderboardTimeLeft}}</span>
            <span > remaining</span>
          </div>

          @if (seasonalLeaderboardData?.description != undefined) {
            <p class="boldText centerText" style="margin: 0;">{{ seasonalLeaderboardData?.description }}</p>
          }
          <div style="overflow-x: auto;">
            @if (seasonalLeaderboardData?.leaderboard?.length ?? 0 > 0) {
              <table mat-table [dataSource]="seasonalLeaderboardData?.leaderboard ?? []">
                <ng-container matColumnDef="Username">
                  <th mat-header-cell *matHeaderCellDef class="headerText"> Name </th>
                  <td mat-cell *matCellDef="let element" >
                    <div class="flexRow" style="align-items: center; gap: 5px">
                      <div class="leveltag" [class]="[DailyHelper.getLevelTagShape(element.level), DailyHelper.getLevelTagBadgeColor(element.level), DailyHelper.getLevelTagShapeColor(element.level)]"
                           style="align-self: flex-start; width: fit-content">{{ element.level.toLocaleString() }}</div>
                      <span class="headerText uppercase" style="vertical-align: center">{{element.username}}</span>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Score">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                    <img class="headerImage" ngSrc="assets/score.png" height="36" width="36" matTooltip="Score/Rating"/>
                  </th>
                  <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.score.toLocaleString()}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="seasonalLeaderboardColumns" ></tr>
                <tr mat-row class="clickable" *matRowDef="let row; columns: seasonalLeaderboardColumns; " [routerLink]="['/u', row.username]"></tr>
              </table>
            } @else {
              <div class="centerText">
                <span class="headerText bigHighlightText highlight">No placements on this leaderboard yet.</span>
              </div>
            }
          </div>
        </div>
      } @else {
        <div class="flexColumn centerText">
          <span class="headerText bigHighlightText highlight">There is currently no seasonal leaderboard running!</span>
          <img class="baseBorder" src="assets/tetrio-img/error1.gif" style="margin: auto; margin-bottom: 10px; border-radius: 50%; border-width: 3px"/>
        </div>
      }
    </mat-tab>
    <mat-tab label="Legacy Leaderboard">
      @if (legacyLeaderboardData?.leaderboard?.length ?? 0 > 0) {
        <div class="">
          <div style="overflow-x: auto;">
            <table mat-table [dataSource]="legacyLeaderboardData?.leaderboard ?? []">
              <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef class="headerText"> Name </th>
                <td mat-cell *matCellDef="let element" >
                  <div class="flexRow" style="align-items: center; gap: 5px">
                    <div class="leveltag" [class]="[DailyHelper.getLevelTagShape(element.level), DailyHelper.getLevelTagBadgeColor(element.level), DailyHelper.getLevelTagShapeColor(element.level)]"
                         style="align-self: flex-start; width: fit-content">{{ element.level.toLocaleString() }}</div>
                    <div class="headerText uppercase" style="vertical-align: center">{{element.username}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="Score">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                  <img class="headerImage" ngSrc="assets/score.png" height="36" width="36" matTooltip="Score/Rating"/>
                </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.score.toLocaleString()}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="legacyLeaderboardColumns" ></tr>
              <tr mat-row class="clickable" *matRowDef="let row; columns: legacyLeaderboardColumns;" [routerLink]="['/u', row.username]"></tr>
            </table>
          </div>
        </div>
      }
    </mat-tab>
    <mat-tab label="All Time Leaderboard">
      @if (globalLeaderboardData?.leaderboard?.length ?? 0 > 0) {
        <div class="">
          <div style="overflow-x: auto;">
            <table mat-table [dataSource]="globalLeaderboardData?.leaderboard ?? []">
              <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef class="headerText"> Name </th>
                <td mat-cell *matCellDef="let element" >
                  <div class="flexRow" style="align-items: center; gap: 5px">
                    <div class="leveltag" [class]="[DailyHelper.getLevelTagShape(element.level), DailyHelper.getLevelTagBadgeColor(element.level), DailyHelper.getLevelTagShapeColor(element.level)]" style="align-self: flex-start; width: fit-content">{{ element.level.toLocaleString() }}</div>
                    <div class="headerText uppercase" style="vertical-align: center">{{element.username}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="Score">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                  <img class="headerImage" ngSrc="assets/score.png" height="36" width="36" matTooltip="Score/Rating"/>
                </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.score.toLocaleString()}}</td>
              </ng-container>

              <ng-container matColumnDef="EasyChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                  <img class="headerImage" ngSrc="assets/clear_easy_2.png" height="36" width="36" matTooltip="Easy Challenges Completed"/>
                </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.easyChallengesCompleted.toLocaleString()}}</td>
              </ng-container>

              <ng-container matColumnDef="NormalChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                  <img class="headerImage" ngSrc="assets/clear_normal_2.png" height="36" width="36" matTooltip="Normal Challenges Completed"/>
                </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.normalChallengesCompleted.toLocaleString()}}</td>
              </ng-container>

              <ng-container matColumnDef="HardChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
                  <img class="headerImage" ngSrc="assets/clear_hard_2.png" height="36" width="36" matTooltip="Hard Challenges Completed"/>
                </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.hardChallengesCompleted.toLocaleString()}}</td>
              </ng-container>

              <ng-container matColumnDef="ExpertChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> <img class="headerImage" ngSrc="assets/clear_expert.png" height="36" width="36" matTooltip="Expert Challenges Completed"/> </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.expertChallengesCompleted.toLocaleString()}}</td>
              </ng-container>

              <ng-container matColumnDef="ReverseChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> <img class="headerImage" ngSrc="assets/clear_reverse.png" height="36" width="36" matTooltip="Reverse Challenges Completed"/> </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.reverseChallengesCompleted.toLocaleString()}}</td>
              </ng-container>
              <ng-container matColumnDef="MasteryChallengesCompleted">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> <img class="headerImage" ngSrc="assets/mastery_2.png" height="36" width="36" matTooltip="Mastery Challenges Completed"/> </th>
                <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.masteryChallengesCompleted.toLocaleString()}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="globalLeaderboardColumns" ></tr>
              <tr mat-row class="clickable" *matRowDef="let row; columns: globalLeaderboardColumns;" [routerLink]="['/u', row.username]"></tr>
            </table>
          </div>
          <div class="centerText uppercase">
            <a class="bigHighlightText highlight" style="text-decoration: none;" [routerLink]="['/leaderboard']">full leaderboard here</a>
          </div>
        </div>
      }
    </mat-tab>
  </mat-tab-group>
</div>

<div class="baseContainer centerText" style="padding: 5px">
  <div class="flexColumn headerText support" style="font-size: 1.1rem;">
    <div class="flexColumn">
      <span>Resources belong to <a class="link" href="https://osk.sh" style="text-decoration: none">osk</a> and <a class="link" style="text-decoration: none" href="https://tetr.io">TETR.IO</a></span>
      <span>Icon and Background made by <a class="link" href="https://melisek.dev" style="text-decoration: none">Melisek</a></span>
      <span>Weekly Icons by <a class="link" href="https://www.shenzhia.de/" style="text-decoration: none">PinkMilkTea</a></span>
    </div>

    <hr style="width: 100%"/>

    <span>If you want to support me for making ZDC, maybe consider gifting me TETR.IO supporter.</span>
    <span>This way you support the game, osk and me!</span>
    <span>Or give the GitHub <a href="https://github.com/Founntain/Zenith.DailyChallenge.Web" class="link">Repository</a> a ⭐, maybe a ⭐ for the <a href="https://github.com/Founntain/TETRIO.Overlay" class="link">backend</a> too.</span>

    <hr style="width: 100%; background: transparent; color: transparent"/>
  </div>
</div>
