@use '../../../styles' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/base' as base; // Import the mixin

.title{
  font-size: 2rem !important;

  @include base.mobile {
    font-size: 14pt !important;
  }
}

.simpleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bigText{
  font-size: 1.5rem;
}

.bigHighlightText{
  @extend .headerText;

  font-size: 2rem !important;
}

.bigGoalText{
  @extend .headerText;

  font-size: 3rem !important;

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-bottom: 1px solid $accent-color;
}

.marginLeft{
  margin-left: 10px;
}

.marginRight{
  margin-right: 10px;
}

.padding{
  padding: 10px;
}

.highlight{
  @extend .boldText;

  color: $text-color;
  text-shadow: 0 3px rgba($primary-color, 0.7);

  font-size: 1.1rem;

  @include base.mobile {
    font-size: 1rem;
  }
}

.clock, .date{
  font-size: 1.5rem !important;
  font-family: "Catamaran", sans-serif;
}

.challengeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

  .challenge {
    flex: 1;
    text-align: center;
  }

  @include base.mobile {
    flex-direction: column;
  }
}

th{
  font-family: 'HUN', "Helvetica Neue", sans-serif, serif;
}

tr{
  font-family: 'CB', "Helvetica Neue", sans-serif, serif;
}

.link {
  color: $text-color !important;
  text-decoration: none;
  cursor: pointer;
}

.community {
  @extend .baseContainer;

  text-align: center;
  display: flex;
  flex-direction: column;

  background-color: rgba(52, 20, 85, 0.5);

  color: $community-text-color;

  .highlight {
    @extend .headerText;

    color: white;
    text-shadow: 0 3px #a164ff, 0 6px 8px #a164ff;
  }
}

.contributorsBorder {
  display: block;
  border: 1px solid $community-text-color;
}

.brick {
  background: repeating-linear-gradient( -45deg, #0d0d0d, #0d0d0d 12px, #1a1a1a 12px, #1a1a1a 25px );
  border-top: 3px solid #333333;
  border-left: 3px solid #262626;
  border-bottom: 3px solid #0d0d0d;
  border-right: 3px solid #1a1a1a;
  color: #757575;
  text-shadow: 0 0 16px rgba(86, 85, 85, 0.4);

  background-size: 200% 200%;

  animation: scroll 40s linear infinite;

  @keyframes scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  h1{
    font-size: 2rem;
  }

  .highlight {
    font-family: 'HUN', sans-serif;
    color: #b4b4b4;
    text-shadow: 0 3px #333333, 0 6px #333333, 0 6px 8px #333333, 0 6px 16px #333333;
  }
}

.masteryBackground{
  // fff800 e345d5 dd6943 f6a53f e3445f 4382db 8443de 43de9d
  width: 100%;

  background: linear-gradient(
      to right,
      rgba(255, 248, 0, 0.75),
      rgba(227, 69, 213, 0.75),
      rgba(221, 105, 67, 0.75),
      rgba(246, 165, 63, 0.75),
      rgba(227, 68, 95, 0.75),
      rgba(67, 130, 219, 0.75),
      rgba(132, 67, 222, 0.75),
      rgba(67, 222, 157, 0.75)
  );
}

.masteryReverseBackground{
  width: 100%;

  background: linear-gradient(
      to right,
      rgba(darken($reverse-accent-color, 28%), 0.75),
      rgba(darken($reverse-accent-color, 18%), 0.75),
      rgba(darken($reverse-accent-color, 10%), 0.75),
      rgba(darken($reverse-accent-color, 4%), 0.75),
      rgba($reverse-accent-color, 0.75),
      rgba(lighten($reverse-accent-color, 6%), 0.75),
      rgba(lighten($reverse-accent-color, 14%), 0.75),
      rgba(lighten($reverse-accent-color, 22%), 0.75)
  );
}

.baseMastery{
  h1{
    font-size: 2rem;
  }
}

.mastery {
  background: repeating-linear-gradient( -45deg, #0d0d0d33, #0d0d0d33 12px, #1a1a1a33 12px, #1a1a1a33 25px );
  border-top: 3px solid #DDCCDD;
  border-left: 3px solid #FFDDFF;
  border-bottom: 3px solid #CCBBCC;
  border-right: 3px solid #CCAACC;
  color: white;
  text-shadow: 0 0 16px rgba(86, 85, 85, 0.4);

  background-size: 200% 200%;

  animation: scroll 40s linear infinite;

  @keyframes scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .highlight {
    @extend .headerText;

    color: white;
    text-shadow: 0 1px #CCBBCC, 0 3px 10px #CCBBCC;
  }
}

.masteryReverse{
  background: repeating-linear-gradient( 45deg, #0d0d0d33, #0d0d0d33 12px, #1a1a1a33 12px, #1a1a1a33 25px );

  border-top: 3px solid lighten($reverse-accent-color, 18%);
  border-left: 3px solid lighten($reverse-accent-color, 30%);
  border-bottom: 3px solid lighten($reverse-accent-color, 12%);
  border-right: 3px solid darken($reverse-accent-color, 6%);
  color: white;
  text-shadow: 0 0 16px rgba(86, 85, 85, 0.4);

  background-size: 200% 200%;

  animation: scroll 40s linear infinite;

  @keyframes scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .highlight {
    @extend .headerText;

    color: white;
    text-shadow: 0 1px $reverse-accent-color, 0 3px 10px $reverse-accent-color;
  }
}


.valueBar{
  width: 33%;
  height: 30px;

  position: relative;

  background: red;
}

.totalBar{
  width: 100%;
  height: 30px;

  position: relative;
}

.progressContainer{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box{
  display: block;
  height: 10px;
}

.progressBarContainer {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 10px; /* Ensure the height matches the height of the boxes */
  margin: 10px;
}

.progressBar,
.progressBarAccent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Adjust as necessary */
}

.contributionContainer{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  .contributionItem{
    flex: 1;
  }
}

.contributionName{
  text-decoration: none;
}

.allContributorsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.goalAchieved{
  position: relative;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    // Multiple layered inner shadows with rainbow colors
    box-shadow:
      inset 0 0 15px rgba(255, 0, 0, 1),
      inset 0 0 15px rgba(255, 165, 0, 1),
      inset 0 0 15px rgba(255, 255, 0, 1),
      inset 0 0 15px rgba(0, 255, 0, 1),
      inset 0 0 15px rgba(0, 0, 255, 1),
      inset 0 0 15px rgba(238, 130, 238, 1);

    animation: rainbow-shadow 6s linear infinite;
  }

  @keyframes rainbow-shadow {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
  }
}

.headerImage{
  margin: 2px;
}

.autoSubmitContainer{
  font-family: 'CB', "Helvetica Neue", sans-serif, serif;

  span{
    font-size: 1.5rem;

    text-shadow: 0 3px #00b341, 0 6px 8px #00b341;
  }

  p{
    font-size: 1.25rem;
    margin:0;

    margin-top: 5px;
  }

  color: #FFF;

  border-bottom: 3px solid #00000044 ;

  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
}

//.mat-mdc-row:nth-of-type(1) .link {
//  color: white !important;
//  font-size: 2rem;
//
//  text-shadow: 0 3px #ffc107, 0 5px #ffc107, 0 6px 16px #ffc107;
//}
//
//.mat-mdc-row:nth-of-type(2) .link {
//  color: white !important;
//  font-size: 1.5rem;
//
//  text-shadow: 0 3px #C0C0C0, 0 5px #C0C0C0, 0 6px 16px #C0C0C0;
//}
//
//.mat-mdc-row:nth-of-type(3) .link{
//  color: white !important;
//  font-size: 1.3rem;
//
//  text-shadow: 0 3px #CD7F32, 0 5px #CD7F32, 0 6px 16px #CD7F32;
//}

.flexContainer{
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin: 0;
  }
}

.modContainer{
  position: relative;
  width: 100%;
  text-align: center;
  margin: 5px;
  padding: 10px;

  color: #FFF !important;

  @media screen and (max-width: 600px) {
    width: initial;
  }

  .stripes{
    position: absolute;
    inset: 0;
    z-index: 0;  // Place it behind other content

    background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );

    .borderTop{
      //border-top: 3px solid #00000033;
      border-top: 3px solid #FFF;
    }

    .borderBottom{
      border-bottom: 3px solid #00000033;
    }
  }

  .details{
    @extend .headerText;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;

    .details h2,
    .details h3 {
      margin: 0;
      flex: 1;
    }

    .details img{
      flex: 1;
      margin: auto;
    }

    .details, .altitude{
      font-size: 3rem;
      margin: 0;
    }

    .details .completions{

    }

  }

  &.nomod {
    background-color: $background-color;
    border: #DCD 3px solid;

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px #CCBBCC, 0 6px 16px #CCBBCC;
    }
  }

  &.expert {
    border: rgba(255, 248, 0, 0.75) 3px solid;
    background-color: rgba(255, 248, 0, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(255, 248, 0, 0.75), 0 6px 16px rgba(255, 248, 0, 0.75);
    }
  }

  &.nohold {
    border: rgba(227, 69, 213, 0.75) 3px solid;
    background-color: rgba(227, 69, 213, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(227, 69, 213, 0.75), 0 6px 16px rgba(227, 69, 213, 0.75);
    }
  }

  &.messy {
    border: rgba(221, 105, 67, 0.75) 3px solid;
    background-color: rgba(221, 105, 67, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(221, 105, 67, 0.75), 0 6px 16px rgba(221, 105, 67, 0.75);
    }
  }

  &.gravity {
    border: rgba(246, 165, 63, 0.75) 3px solid;
    background-color: rgba(246, 165, 63, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(246, 165, 63, 0.75), 0 6px 16px rgba(246, 165, 63, 0.75);
    }
  }

  &.volatile {
    border: rgba(222, 68, 95, 0.75) 3px solid;
    background-color: rgba(227, 68, 95, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(222, 68, 95, 0.75), 0 6px 16px rgba(222, 68, 95, 0.75);
    }
  }

  &.doublehole {
    border: rgba(67, 130, 219, 0.75) 3px solid;
    background-color: rgba(67, 130, 219, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(67, 130, 219, 0.75), 0 6px 16px rgba(67, 130, 219, 0.75);
    }
  }

  &.invisible {
    border: rgba(132, 67, 222, 0.75) 3px solid;
    background-color: rgba(132, 67, 222, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(132, 67, 222, 0.75), 0 6px 16px rgba(132, 67, 222, 0.75);
    }
  }

  &.allspin {
    border: rgba(67, 222, 157, 0.75) 3px solid;
    background-color: rgba(67, 222, 157, 0.75);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px rgba(67, 222, 157, 0.75), 0 6px 16px rgba(67, 222, 157, 0.75);
    }
  }

  &.reverseMod {
    border: 3px solid #ff0059;
    background-color: rgba(170, 0, 89, 0.5);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px #ff0059, 0 6px 16px #ff0059;
    }
  }

  &.masteryMod {
    border: 3px solid #FFDDFF;

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px #CCBBCC, 0 6px 16px #CCBBCC;
    }
  }
}

.scoreContainer{
  .bigScoreText{
    @extend .headerText;

    font-size: 3rem;
  }

  color: white;

  text-shadow: 0 2px #CCBBCC, 0 3px 10px #CCBBCC;

  background-color: $background-color;
  border: #DCD 3px solid;

  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;

  .highlight{
    color: white;
    text-shadow: 0 3px $accent-color;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  img{
    @media screen and (max-width: 600px) {
      max-height: 64px;
      max-width: 64px;
    }
  }
}

.announcement {

  padding: 10px;
  color: white;

  h1{
    margin: 10px;
  }

  span{
    font-size: 1rem;
  }

  ul{
    list-style-position: inside;
  }

  &.important {
    background-color: brown;

    border-top: solid 1px darkred;
    border-bottom: solid 1px darkred;

    .highlight {
      color: $hard-accent-color;
    }
 }
}

/* Grid layering container */
.layeredGrid {
  display: grid;
  height: 100%;
  width: 100%;
  /* place-items: center is set inline in template to match current styles */
}

/* Make an element fill the grid area and sit behind by default */
.gridFill {
  grid-area: 1 / 1 / -1 / -1;
}

/* Control stacking order (optional, if you need consistent layering) */
.stripesLight.gridFill {
  z-index: 1; /* base background stripes */
}

.stripesGoal.gridFill {
  z-index: 2; /* progress overlay stripes */
}

.layeredGrid > .flexColumn.gridFill {
  z-index: 3; /* content on top */
}
