<header class="stripes">
  <div class="flexHeader">
    <div class="marginLeft flexRow verticalCenter centerText">
      <mat-icon class="verticalCenter menuBtn" (click)="drawer.toggle()">menu</mat-icon>
      <span class="headerText verticalCenter centerText title marginLeft"><a [routerLink]="['']">ZENITH DAILY CHALLENGE</a></span>
    </div>

    <nav class="boldText">
      @if (user$ | async; as user) {
        <div class="userInfo boldText">
          @if (user.avatarRevision !== undefined && user.avatarRevision !== null) {
            <img
              class="profilePicture"
              [src]="'https://tetr.io/user-content/avatars/' + user.userId + '.jpg?rv=' + user.avatarRevision"
            />
          }

          <a [routerLink]="['/user', user.username]">{{ user.username }}</a>
          <mat-icon class="icon" (click)="logout()">logout</mat-icon>
        </div>
      } @else {
        <div>
          <a (click)="loginClick()">LOGIN</a>
        </div>
      }
    </nav>
  </div>
</header>
