<header>
  <div class="flexHeader">
    <h1 class="marginLeft headerText"><a [routerLink]="['']">ZENITH DAILY CHALLENGE</a></h1>
    <nav class="boldText">
      @if (!isLoggedIn){
        <div>
          <a (click)="loginClick()">LOGIN</a>
        </div>
      } @else if (userProfileData !== undefined){
        <div class="userInfo boldText">
          <img class="profilePicture" src="{{userProfileData.avatar}}"/>
          <a [routerLink]="['/user', userProfileData.username]">{{userProfileData.username}}</a>
          <mat-icon class="icon" (click)="logout()">logout</mat-icon>
        </div>
      }
    </nav>
  </div>
</header>
