header {
  .marginLeft {
    margin-left: 10px;
  }

  a {
    color: #ff9c6b !important;
    text-decoration: none;
    cursor: pointer;
  }

  .flexHeader {
    width: 100%;
    background: #1976d2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    height: 50px;
    background: linear-gradient(to bottom, #300f0b 0, #4c1d0c 100%);
    border-bottom: 2px solid #b03d1a;
    border-left: 2px solid #8d2e1b;
    border-right: 2px solid #8d2e1b;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
      font-size: 0.45rem;
      border-left: none;
      border-right: none;
    }

    .hidden {
      display: none;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-size: 18px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    nav .userInfo {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      img {
        max-height: 38px;
        border-radius: 50%;
        border: 2px solid #ff9c6b;
      }
    }
  }


}
