@use '../../../styles' as *;
@use '../../../styling/colors' as *;

header {
  position: sticky;
  top: 0;
  z-index: 1000; // Ensure it stays above main content
  width: 100%;

  .icon{
    color: $primary-color;
    margin-right: 5px;
    cursor: pointer;

    transition: color 0.3s;

    &:hover{
      color: $colorful-accent-color;
    }
  }

  .marginLeft {
    margin-left: 10px;
  }

  .title{
    font-size: 1.5rem;

    transition: all .3s ease-in-out;

    &:hover {
      color: $colorful-accent-color !important;
      letter-spacing: 1px;
    }
  }

  .menuBtn{
    color: $text-color;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: $colorful-accent-color;
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
  }

  .flexHeader {
    width: 100%;
    background: $background-shade;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    height: 50px;
    background: linear-gradient(to bottom, $background-color 0, $background-shade 75%);
    border-bottom: 2px solid $accent-color;
    border-left: 2px solid $accent-color;
    border-right: 2px solid $accent-color;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
      font-size: 0.6rem;
      border-left: none;
      border-right: none;
    }

    .hidden {
      display: none;
    }

    nav a {
      text-decoration: none;
      margin: 0 15px;
      font-size: 18px;

      transition: all .3s ease-in-out;

      &:hover {
        color: $colorful-accent-color;
        letter-spacing: 5px;
        transform: skewY(-2deg);
      }
    }

    nav .userInfo {
      display: flex;
      align-items: center;
      text-transform: uppercase;

      img {
        max-height: 38px;
        border-radius: 50%;
        border: 2px solid $accent-color;
      }
    }
  }
}
