<div class="challengeWrapper">
  <div class="completionStatus borderBottom">
    @if(difficultCssClass === 'Reverse'){
      <app-zenith-text-wobble [text]="difficultyText"/>
    } @else {
      <h1 class="headerText difTitle">{{ difficultyText }}</h1>
    }
    <div class="boldText">
      <span>Completed by </span>
      <span class="completionCount headerText">{{challenge.completions}}</span>
      <span> user</span>
      @if (challenge.completions != 1) {
        <span>s</span>
      }
    </div>
  </div>
  @if (reverseText.length > 0) {
    <div style="margin-top: 10px;">
      <span class="reverseFlavorText headerText">{{ reverseText }}</span>
    </div>
  }

  <div>
    <div class="conditionsWrapper" style="padding: 10px">
      @for (condition of processedConditions; track $index){
        <div  class="valueWrapper">
          <a class="boldText">{{ condition.prefix }}</a>
          <div>
            <a [ngClass]="['conditionValue', difficultCssClass]">{{ condition.value }}</a>
            <a class="conditionValueSuffix boldText">{{ condition.suffix }}</a>
          </div>
        </div>
      }
    </div>
  </div>

  <div style="padding: 10px">
    @for (imgSrc of modImages; track $index){
     <img [src]="imgSrc" class="mod"/>
    }
  </div>

  <div class="completionStatus borderTop">
    @if(isCompleted){
      <span class="baseCompleted challengeCompleted">COMPLETED</span>
    } @else{
      <span class="baseCompleted challengeNotCompleted">NOT COMPLETED</span>
    }
  </div>
</div>
