<div class="challengeWrapper">
  <div class="completionStatus borderBottom">
    <h1 *ngIf="difficultCssClass !== 'Reverse'" class="cb" style="margin: 10px">{{ difficultyText }}</h1>
    <h1 *ngIf="difficultCssClass === 'Reverse'" class="cb reverseTitle" style="margin: 10px">{{ difficultyText }}</h1>
  </div>
  <div *ngIf="reverseText.length > 0" style="margin-top: 10px;">
    <span class="reverseFlavorText">{{ reverseText }}</span>
  </div>
  <div>
    <div class="conditionsWrapper" style="padding: 10px">
      <div *ngFor="let condition of processedConditions" class="valueWrapper">
        <a>{{ condition.prefix }}</a>
        <div>
          <a [ngClass]="['conditionValue', difficultCssClass]">{{ condition.value }}</a>
          <a class="conditionValueSuffix">{{ condition.suffix }}</a>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 10px">
    <img *ngFor="let imgSrc of modImages" [src]="imgSrc" class="mod"/>
  </div>

  <div class="completionStatus borderTop">
    <span *ngIf="isCompleted" class="baseCompleted challengeCompleted">COMPLETED</span>
    <span *ngIf="!isCompleted" class="baseCompleted challengeNotCompleted">NOT COMPLETED</span>
  </div>
</div>
