$easy-text-color: #6baeff;
$primary-text-color: #ff9c6b;
$reverse-text-color: #ff6c6c;

.challengeWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
  padding-bottom: 40px; // Add space for the completed text

  .reverseTitle{
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 3px #ff0059,0 6px #ff0059,0 6px 8px #ff0059,0 6px 16px #ff0059;
    letter-spacing: 7px;
  }

  .reverseFlavorText{
    color: #ff0059;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .conditionsWrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    .valueWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      gap: 5px;

      .conditionValue {
        font-family: 'CB' !important;
        font-size: 1.5rem;
      }

      .Easy {
        color: white;
        text-shadow: 0 3px $easy-text-color, 0 6px 8px $easy-text-color;
      }

      .Normal{
        color: #fff;
        text-shadow: 0 3px #b83a1b, 0 6px 8px #b83a1b;
      }

      .Hard{
        color: #fff;
        text-shadow: 0 3px #e57373, 0 6px 8px #e57373;
      }

      .Expert{
        color: #fff;
        text-shadow: 0 3px #d49b07, 0 6px 8px #d49b07;
      }

      .Reverse{
        color: #fff;
        text-shadow: 0 3px #ff0059,0 6px 8px #ff0059;
      }
    }
  }

  .completionStatus{
    background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );
    padding: 5px;

    &.borderTop{
      border-top: 3px solid #00000033;
    }

    &.borderBottom{
      border-bottom: 3px solid #00000033;
    }

    .baseCompleted{
      color: #FFF;
      font-family: 'CB', sans-serif;
      font-size: 1.5rem;
      position: relative;

      &.challengeCompleted{
        text-shadow: 0 3px #00b341, 0 6px 8px #00b341;
        animation: pulse-glow 2s ease-in-out infinite;


        @keyframes pulse-glow {
          0% {
            text-shadow: 0 3px #00b341, 0 6px 8px rgba(0, 179, 65, 0.5);
          }
          50% {
            text-shadow: 0 3px #00b341, 0 6px 12px rgba(0, 179, 65, 1);
          }
          100% {
            text-shadow: 0 3px #00b341, 0 6px 8px rgba(0, 179, 65, 0.5);
          }
        }

      }

      &.challengeNotCompleted{
        text-shadow: 0 3px #ff0059,0 6px 8px #ff0059;
        animation: pulse-glow-red 2s ease-in-out infinite;


        @keyframes pulse-glow-red {
          0% {
            text-shadow: 0 3px #ff0059, 0 6px 8px rgba(255, 0, 89, 0.5);
          }
          50% {
            text-shadow: 0 3px #ff0059, 0 6px 12px rgba(255, 0, 89, 1);
          }
          100% {
            text-shadow: 0 3px #ff0059, 0 6px 8px rgba(255, 0, 89, 0.5);
          }
        }

      }
    }
  }
}
