@use '../../../styles' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/mixins' as mix;

.difTitle{
  margin: 0;
}

.challengeWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 100%;
  position: relative;

  .reverseTitle{
    color: white;
    font-size: 2rem;
    text-shadow: 0 3px $reverse-accent-color, 0 6px $reverse-accent-color, 0 6px 8px $reverse-accent-color, 0 6px 16px $reverse-accent-color;
    letter-spacing: 7px;
  }

  .reverseFlavorText{
    color: $reverse-accent-color;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .conditionsWrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    .valueWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      gap: 5px;

      .conditionValue {
        @extend .headerText;
        font-size: 1.5rem;
      }

      .Easy    { @include mix.text-glow($easy-text-color); }
      .Normal  { @include mix.text-glow($normal-accent-color); }
      .Hard    { @include mix.text-glow($hard-accent-color); }
      .Expert  { @include mix.text-glow($expert-accent-color); }
      .Reverse { @include mix.text-glow($reverse-accent-color); }
    }
  }

  .completionStatus{
    background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );
    padding: 5px;

    &.borderTop{
      border-top: 3px solid #00000033;
    }

    &.borderBottom{
      border-bottom: 3px solid #00000033;
    }

    .baseCompleted{
      @extend .headerText;
      color: #FFF;
      font-size: 1.5rem;
      position: relative;

      &.challengeCompleted {
        @include mix.pulse-animation(pulse-glow-green, #00b341);
      }

      &.challengeNotCompleted {
        @include mix.pulse-animation(pulse-glow-red, #ff0059);
      }
    }
  }
}
