@use '../../../styles' as *;

.difTitle{
  margin: 0;
}

.challengeWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 100%;
  position: relative;

  .reverseTitle{
    color: white;
    font-size: 2rem;
    text-shadow: 0 3px $reverse-accent-color, 0 6px $reverse-accent-color, 0 6px 8px $reverse-accent-color, 0 6px 16px $reverse-accent-color;
    letter-spacing: 7px;
  }

  .reverseFlavorText{
    color: $reverse-accent-color;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .conditionsWrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;

    .valueWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      gap: 5px;

      .conditionValue {
        @extend .headerText;

        font-size: 1.5rem;
      }

      .Easy {
        color: white;
        text-shadow: 0 3px $easy-text-color, 0 6px 8px $easy-text-color;
      }

      .Normal{
        color: #fff;
        text-shadow: 0 3px $normal-accent-color, 0 6px 8px $normal-accent-color;
      }

      .Hard{
        color: #fff;
        text-shadow: 0 3px $hard-accent-color, 0 6px 8px $hard-accent-color;
      }

      .Expert{
        color: #fff;
        text-shadow: 0 3px $expert-accent-color, 0 6px 8px $expert-accent-color;
      }

      .Reverse{
        color: #fff;
        text-shadow: 0 3px #ff0059,0 6px 8px #ff0059;
      }
    }
  }

  .completionStatus{
    background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );
    padding: 5px;

    &.borderTop{
      border-top: 3px solid #00000033;
    }

    &.borderBottom{
      border-bottom: 3px solid #00000033;
    }

    .baseCompleted{
      @extend .headerText;

      color: #FFF;
      font-size: 1.5rem;
      position: relative;

      &.challengeCompleted{
        text-shadow: 0 3px #00b341, 0 6px 8px #00b341;
        animation: pulse-glow 2s ease-in-out infinite;


        @keyframes pulse-glow {
          0% {
            text-shadow: 0 3px #00b341, 0 6px 8px rgba(0, 179, 65, 0.5);
          }
          50% {
            text-shadow: 0 3px #00b341, 0 6px 12px rgba(0, 179, 65, 1);
          }
          100% {
            text-shadow: 0 3px #00b341, 0 6px 8px rgba(0, 179, 65, 0.5);
          }
        }

      }

      &.challengeNotCompleted{
        text-shadow: 0 3px #ff0059,0 6px 8px #ff0059;
        animation: pulse-glow-red 2s ease-in-out infinite;

        @keyframes pulse-glow-red {
          0% {
            text-shadow: 0 3px #ff0059, 0 6px 8px rgba(255, 0, 89, 0.5);
          }
          50% {
            text-shadow: 0 3px #ff0059, 0 6px 12px rgba(255, 0, 89, 1);
          }
          100% {
            text-shadow: 0 3px #ff0059, 0 6px 8px rgba(255, 0, 89, 0.5);
          }
        }

      }
    }
  }
}
