<!--<div class="baseContainer">-->
<!--  &lt;!&ndash;  <div class="flexColumn stripes padding" style="margin: -10px -10px 10px -10px; border-bottom: 2px dotted white">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="centerText">&ndash;&gt;-->
<!--  &lt;!&ndash;      <span class="date highlight">{{date}}</span>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    <div>&ndash;&gt;-->
<!--  &lt;!&ndash;      <div class="flexContainer verticalCenter justifyCenter clock highlight gap">&ndash;&gt;-->
<!--  &lt;!&ndash;        <mat-icon class="">alarm</mat-icon>&ndash;&gt;-->
<!--  &lt;!&ndash;        <span class="">{{timeLeft}}</span>&ndash;&gt;-->
<!--  &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="flexContainer flexColumn flexStretch stripes challengeBorder" style="height: 100px">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="date verticalCenter flexStretch centerText numeric">{{date}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="verticalCenter flexStretch">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="timerContainer verticalCenter justifyCenter gap headerText" style="gap: 20px">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-icon class="timerIcon">alarm</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="numeric timer">{{timeLeft}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash; Cancelled probably &ndash;&gt;-->
<!--  &lt;!&ndash;  <div class="challengeContainer" style="margin-top: 10px">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="challenge brick">&ndash;&gt;-->
<!--  &lt;!&ndash;      <h1 class="highlight">? ? ?</h1>&ndash;&gt;-->
<!--  &lt;!&ndash;      <p>Hope left a while ago. You're just catching up</p>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
