@if (communityChallenge !== undefined) {
  <div class="baseContainer ">

    <div class="flexColumn">
      <div class="flexStretch flexRow borderBottom">
        <div class="flexStretch centerText headerText pageText navButton" (click)="goToPage(communityChallenge.previousChallengeId)">
          <span>PREVIOUS</span>
        </div>

        <div class="flexStretch centerText headerText pageText navButton" (click)="goToPage(communityChallenge.nextChallengeId)">
          <span>NEXT</span>
        </div>
      </div>

      <div class="flexStretch flexColumn centerText">
        <span class="headerTextFancy title"> Community Challenge </span>

        <span class="boldText">{{communityChallenge.startDate}} - {{communityChallenge.endDate}}</span>

        @if (communityChallenge.name !== undefined) {
          <div class="flexStretch flexColumn">
            <span class="headerTextFancy title" style="font-weight: 800"> {{communityChallenge.name}}</span>
            @if (communityChallenge.description !== undefined) {
              <span class="boldText"> {{communityChallenge.description}}</span>
            }
          </div>
        }

        <div class="gap">
          @for (mod of communityChallenge?.mods; track $index) {
            <img class="bigMod flexStretch" src="assets/tetrio-img/mods/{{mod}}.png">
          }
        </div>

        <div class="bold title" style="font-weight: 800">
          <span>{{communityChallenge.value.toLocaleString()}} {{getTypeSuffix(communityChallenge.conditionType)}}</span>
          <span> / </span>
          <span>{{communityChallenge.targetValue.toLocaleString()}} {{getTypeSuffix(communityChallenge.conditionType)}}</span>
        </div>
      </div>
    </div>


    <div style="overflow-x: auto">
      <table mat-table [dataSource]="communityChallenge.participants">
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef class="headerText"> Username </th>
          <td mat-cell *matCellDef="let element" >
            <div class="flexRow" style="align-items: center; gap: 5px">
              <span class="headerText uppercase" style="vertical-align: center; font-weight: 800" >{{element.name}}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Contributions">
          <th mat-header-cell *matHeaderCellDef class="headerText" style="text-align: center">{{getTypeSuffix(communityChallenge.conditionType)}}</th>
          <td mat-cell *matCellDef="let element" class="headerText" style="text-align: center" > {{element.contributions.toLocaleString()}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" ></tr>
        <tr mat-row class="clickable" *matRowDef="let row; columns: columns;" [routerLink]="['/user', row.name]"></tr>
      </table>
    </div>
  </div>
}
