@if (!communityChallenge.isLoading() && communityChallenge.hasValue()) {
  @let cc = communityChallenge.value();

  <div class="baseContainer ">

    <div class="challenge-container">
      <div class="challenge-details">
        <div class="header">
          @if (cc.name !== undefined && cc.name?.length > 0) {
            <span class="title"> {{cc.name}} </span>
          }@else{
            <span class="title"> Community Challenge </span>
          }

          <div class="date">
            <mat-icon>calendar_today</mat-icon>
            <span>{{cc.startDate}}</span>
            <mat-icon>chevron_right</mat-icon>
            <span>{{cc.endDate}}</span>
          </div>
        </div>

        <div class="sub-header">
          <div class="page-controls">
            <div class="page previous" matRipple (click)="goToPage(cc.previousChallengeId)">
              <mat-icon>chevron_left</mat-icon>
            </div>

            <div class="page next" matRipple (click)="goToPage(cc.nextChallengeId)">
              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>

          <div class="participants">
            <span class="count">{{cc.participants.length}}</span>
            <span> participants</span>
          </div>
        </div>

        @if (cc.description !== undefined) {
          <mat-expansion-panel matRipple>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Description
              </mat-panel-title>
            </mat-expansion-panel-header>

            <span class="description"> {{cc.description}}</span>
          </mat-expansion-panel>
        }

        @if(cc?.mods?.length > 0){
          <div class="mod-container">
            @for (mod of cc?.mods; track $index) {
              <img class="bigMod" src="assets/tetrio-img/mods/{{mod}}.png">
            }
          </div>
        }

        <div class="progress">
          <span class="current-value">{{cc.value.toLocaleString()}} {{getTypeSuffix(cc.conditionType)}}</span>
          <span class="devider"> / </span>
          <span class="goal-value">{{cc.targetValue.toLocaleString()}} {{getTypeSuffix(cc.conditionType)}}</span>
        </div>
      </div>
    </div>

    <div class="contributors">
      <table class="contributor-table">
        <tr class="contributor-header">
          <th>Username</th>
          <th>{{getTypeSuffix(cc.conditionType)}}</th>
        </tr>
        @for (contributor of cc.participants; track $index) {
          <tr class="contributor-row"
              [class.first-place]="$index === 0"
              [class.second-place]="$index === 1"
              [class.third-place]="$index === 2">
            <td class="username" matRipple [routerLink]="['/u', contributor.name]">{{contributor.name}}</td>
            <td><span class="contribution">{{contributor.contributions.toLocaleString()}}</span></td>
          </tr>
        }
      </table>
    </div>
  </div>
}
