@use '../../../styles' as *;
@use '../../../styling/colors' as *;

.title{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: $text-color;
}

.mat-mdc-row:nth-of-type(n) td {
  font-size: 1.2rem;

  //background: rgba($community-text-color, 0.2) !important;
}

.mat-mdc-row:nth-of-type(1) td {
  color: white !important;
  font-size: 2rem;

  background: rgba(#fc2, 0.5) !important;
}


.mat-mdc-row:nth-of-type(2) td {
  font-size: 1.75rem;

  background: rgba(#AAA, 0.5) !important;
}


.mat-mdc-row:nth-of-type(3) td {
  font-size: 1.5rem;

  background: rgba(#933, 0.5) !important;
}

.pageText{
  cursor: pointer;
  user-select: none;
}

.th{
  position: sticky;
}

.borderBottom{
  border-bottom: 1px solid $accent-color;
}

.navButton{
  @extend .headerText;

  font-size: 2rem;

  background-color: $background-shade;

  &:hover{
    background-color: $background-color !important;
    color: $accent-color;
    transform: skewX(-10deg);
    flex: 2;

    //transition: 1s ease-in;
  }

  transition: 0.3s ease-in-out;
}
