@use '../../../styles' as *;
@use '../../../styling/colors' as *;

.baseContainer{
  @extend .baseContainer;

  border: 1px solid;
  //border-width: 0 0 0 1px;
  border-image: $colorful-accent-gradient 1;
}

.borderSides{
  border-left: 1px solid rgb($colorful-accent-gradientColor2, 0.5);
  border-right: 1px solid rgb($colorful-accent-gradientColor2, 0.5);
}

.valueWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  gap: 5px;
}

.conditionValue {
  font-size: 1.5rem;
}

.Easy {
  color: white;
  text-shadow: 0 3px $easy-text-color, 0 6px 8px $easy-text-color;
}

.Normal{
  color: #fff;
  text-shadow: 0 3px $normal-accent-color, 0 6px 8px $normal-accent-color;
}

.Hard{
  color: #fff;
  text-shadow: 0 3px $hard-accent-color, 0 6px 8px $hard-accent-color;
}

.Expert{
  color: #fff;
  text-shadow: 0 3px $expert-accent-color, 0 6px 8px $expert-accent-color;
}

.Reverse{
  color: #fff;
  text-shadow: 0 3px #ff0059,0 6px 8px #ff0059;
}

.easy {
  background-color: rgba(20, 48, 85, 0.3);

  border: 3px solid rgba(26, 91, 184, 0.5);

  color: $easy-text-color;
}

.normal {
  background-color: rgba(68, 31, 15, 0.3);

  border: 3px solid rgba(156, 52, 21, 0.5);

  color: $normal-text-color;
}

.hard {
  background-color: rgba(61, 16, 20, 0.3);
  border: 3px solid rgba(200, 88, 88, 0.5);

  color: $hard-text-color;
}

.expert {
  background-color: rgba(63, 37, 22, 0.3);
  border: 3px solid rgba(143, 107, 25, 0.5);


  color: $expert-text-color;
}

.reverse {
  background-color: rgba(42, 7, 14, 0.3);
  border: 3px solid rgba(143, 13, 25, 0.5);

  color: $reverse-text-color;
}

