@use '../../../styles' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/base' as base;

.container{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  flex-direction: row;

  background: $base-container-gradient;
  border: 1px solid rgba($text-color, 0.1);
  padding: 12px 24px;

  align-items: center;

  .heading{
    display: flex;
    flex-direction: column;

    gap: 5px;

    .title{
      @extend .header-text;

      font-size: 2rem;
    }

    .sub-title{
      @extend .bold-text;

      font-size: 1rem;

      color: rgba($text-color, .5);
    }
  }

  .date-selector{
    display: flex;
    flex-direction: column;

    margin-left: auto;
    align-self: center;
    align-items: center;

    mat-form-field {
      margin-bottom: -1.25em; // Removes default Material bottom spacing
    }
  }
}

.challenge-wrapper{
  display: flex;
  flex-direction: column;

  padding: 24px;

  justify-content: space-between;

  height: 100%;

  gap: 12px;
}

.challenge-container{
  display: grid;
  grid-template-columns: auto 1fr 1fr;

  @include base.mobile(){
    display: flex;
    flex-direction: column;

    gap: 12px;
  }

  padding: 24px;

  &.easy{
    background: $easy-container-gradient;
    border: 1px solid rgba($easy-text-color, .5);
  }

  &.normal{
    background: $normal-container-gradient;
    border: 1px solid rgba($normal-text-color, .5);
  }

  &.hard{
    background: $hard-container-gradient;
    border: 1px solid rgba($hard-text-color, .5);
  }

  &.expert{
    background: $wom-container-gradient;
    border: 1px solid rgba($expert-text-color, .5);
  }

  &.reverse{
    background: $reverse-container-gradient;
    border: 1px solid rgba($reverse-accent-color, .5);
  }

  .difficulty{
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 12px;

    min-width: 225px;

    img{
      width: 48px;
      height: 48px;
    }

    .text{
      display: flex;
      flex-direction: column;

      gap: 12px;

      .title{
        @extend .header-text;

        font-size: 2rem;
      }

      .sub-title{
        @extend .bold-text;
      }
    }
  }

  .challenge-details{
    display: grid;
    grid-template-columns: 1fr auto;

    @include base.mobile(){
      display: flex;
      flex-direction: column;

      gap: 24px;
    }

    align-items: center;

    .conditions{
      display: flex;
      flex-direction: row;

      gap: 4rem;

      .value-wrapper{
        display: flex;
        flex-direction: column;
        min-width: 100px;

        &.border{
          border-left: 1px solid rgba($text-color, 0.1);
          padding-left: 1rem;
        }

        &.end{
          min-width: 0;
        }

        .value{
          @extend .numeric;

          font-size: 2rem;

          &.easy{
            @extend .gradient-text;

            background: $easy-text-gradient;
            text-shadow: 0 0 30px rgba($easy-text-color, 0.5);
          }

          &.normal{
            @extend .gradient-text;

            background: $normal-text-gradient;
            text-shadow: 0 0 30px rgba($normal-text-color, 0.5);
          }

          &.hard{
            @extend .gradient-text;

            background: $hard-text-gradient;
            text-shadow: 0 0 30px rgba($hard-text-color, 0.5);
          }

          &.expert{
            @extend .gradient-text;

            background: $gold-gradient;
            text-shadow: 0 0 30px rgba($expert-text-color, 0.5);
          }

          &.reverse{
            @extend .gradient-text;

            background: $reverse-gradient;
            text-shadow: 0 0 30px rgba($reverse-accent-color, 0.5);
          }
        }

        .condition{
          @extend .bold-text;

          font-size: 1.25rem;
        }
      }
    }

    .mods{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-self: end;
      padding-right: 2rem;

      gap: 6px;

      img{
        width: 48px;
        height: 48px;
      }

      @include base.mobile(){
        justify-self: center;
        padding: 0;
      }
    }
  }

  .completions{
    display: flex;
    flex-direction: column;

    align-self: center;

    @include base.mobile(){
      align-self: start;
    }

    gap: 12px;

    .title{
      @extend .header-text;

      font-size: 1.7rem;
    }

    .users{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px;

      span{
        @extend .bold-text;

        font-size: 1rem;

        text-transform: uppercase;

        cursor: pointer;

        transition: color 0.2s ease-in-out;

        &:hover{
          color: $colorful-accent-gradientColor2;
        }
      }
    }
  }
}
