<!-- Welcome -->

<div class="normalContainer">
  <div class="container">
    <span class="title highlight">Welcome to the Zenith Tower Daily Challenge!</span>
    <div>
      <span class="normalText">Here, you'll find new challenges to take on while playing QP in TETR.IO.</span>
      <span class="normalText"> To complete a challenge, you must submit a game that meets all the conditions</span> <span class="highlight"> in a single run!</span>
    </div>
<!--    <div>-->
<!--      <a class="normalText">Keep your streak going if you complete all the challenges for a day, your perfect streak will increase!</a>-->
<!--    </div>-->
    <div class="flexColumn">
      <span class="normalText">You can submit runs by <span class="highlight">login in with your discord</span> account and click on your profile in the <span class="highlight">top right.</span></span>
      <span class="highlight">your discord account has to be linked to your tetr.io account and is publicly visible</span>
    </div>
    <div class="flexColumn">
      <span class="normalText">Resources belong to <a class="highlight" href="https://osk.sh" style="text-decoration: none">osk</a> and <a class="highlight" style="text-decoration: none" href="https://tetr.io">TETR.IO</a></span>
      <span class="normalText">Background made by <span class="highlight"><a class="highlight" href="https://linktr.ee/melisek" style="text-decoration: none">melisek</a></span></span>
    </div>

  </div>
  <div *ngIf="isLoggedIn && communityChallengeData?.communityChallenge === undefined" (click)="submitRuns()" class="bigButton"><a>Submit New Runs</a></div>
</div>

<!-- Daily Challenges -->
<div class="normalContainer padding">
  <div class="flexColumn" style="margin-bottom: 10px">
    <div>
      <span class="date">daily challenge for </span>
      <span class="date highlight">{{date}}</span>
    </div>
    <div class="clock">TIME LEFT: <span class="clock highlight">{{timeLeft}}</span></div>
  </div>
  <div class="challengeContainer" *ngIf="dailyChallenges.length > 0">
    <div class="challenge easy">
      <app-challenge [challenge]="getChallengeOfDifficulty(Difficulty.Easy)" [isCompleted]="getChallengeCompletionOfDifficulty(Difficulty.Easy)"/>
    </div>

    <div class="containerNoMargin challenge normal">
      <app-challenge [challenge]="getChallengeOfDifficulty(Difficulty.Normal)" [isCompleted]="getChallengeCompletionOfDifficulty(Difficulty.Normal)"/>
    </div>

    <div class="challenge hard">
      <app-challenge [challenge]="getChallengeOfDifficulty(Difficulty.Hard)" [isCompleted]="getChallengeCompletionOfDifficulty(Difficulty.Hard)" />
    </div>
  </div>
  <div class="challengeContainer" style="margin-top: 10px" *ngIf="dailyChallenges.length > 0">
    <div class="challenge expert" *ngIf="getChallengeOfDifficulty(Difficulty.Expert) !== undefined">
      <app-challenge [challenge]="getChallengeOfDifficulty(Difficulty.Expert)" [isCompleted]="getChallengeCompletionOfDifficulty(Difficulty.Expert)"/>
    </div>
    <div class="challenge reverse" *ngIf="getChallengeOfDifficulty(Difficulty.Reverse) !== undefined">
      <app-challenge [challenge]="getChallengeOfDifficulty(Difficulty.Reverse)" [isCompleted]="getChallengeCompletionOfDifficulty(Difficulty.Reverse)"/>
    </div>
  </div>
</div>

<!-- Community Challenges -->
<div [ngClass]="['container', 'challenge', 'community', isCommunityChallengeFinished]" style="padding-bottom: 10px">
  <h1 style="margin: 5px; margin-top: 20px">COMMUNITY CHALLENGE</h1>
  <div *ngIf="communityChallengeData?.communityChallenge === undefined" class="simpleContainer">
    <a>currently no community challenge is active</a>
    <sub>check back later</sub>
  </div>
  <div *ngIf="communityChallengeData !== undefined && communityChallengeData.communityChallenge !== undefined" class="simpleContainer">
    <div class="clock" style="margin-bottom: 10px">Ends in: <span class="clock highlight">{{communityTimeLeft}}</span></div>
    <a class="highlight">as a community</a>
    <div class="bigText">
      <a class="">{{getCommunityPromptPrefix()}}</a>
      <a class="highlight bigHighlightText">{{getCommunityPromptValue()}}</a>
      <a class="">{{getCommunityPromptSuffix()}}</a>
    </div>
    <div>
      <a class="highlight bigHighlightText">{{communityChallengeData.communityChallenge.value.toLocaleString('en-US')}}</a>
      of
      <a class="highlight bigHighlightText">{{getCommunityPromptValue()}}</a>
      {{getCommunityPromptProgressSuffix()}}
      <span>by <span class="highlight">{{communityChallengeData.communityChallenge.participants}} participants</span></span>
    </div>
    <div *ngIf="recentContributions.length > 0" class="recentContributionsContainer" style="text-align: center; margin-bottom: 10px">
      <div *ngFor="let contribution of recentContributions">
        <div *ngIf="!contribution.isLate">
          <a class="contributionName highlight" [routerLink]="['/user', contribution.username]">{{contribution.username}}</a> contributed <span class="highlight">{{getContributionValue(contribution.amount, contribution.conditionType)}}</span>
        </div>

        <div *ngIf="contribution.isLate">
          <a class="contributionName highlight" [routerLink]="['/user', contribution.username]">{{contribution.username}}</a> contributed <span class="highlight">{{getContributionValue(contribution.amount, contribution.conditionType)}}</span> . . . but was to late :c
        </div>
      </div>
    </div>

    <div *ngIf="recentContributions.length > 0" class="allContributersContainer" >
      <span *ngFor="let contributer of communityChallengeData.topContributers" class="highlight" style="cursor:pointer;" [routerLink]="['/user', contributer.username]" title="{{contributer.username}} contributed {{getContributionValue(contributer.amount, communityChallengeData.communityChallenge.conditionType)}}">{{contributer.username}}</span>
    </div>
  </div>
  <div *ngIf="isLoggedIn && communityChallengeData !== undefined && communityChallengeData.communityChallenge !== undefined" (click)="submitRuns()" class="bigCommunityButton"><a>Submit new Runs</a></div>
</div>

<div style="margin: 10px;" class="normalContainer" *ngIf="leaderboardData.length > 0">
  <h3>Challenge Leaderboard</h3>
  <div style="overflow-x: auto;">
    <table mat-table [dataSource]="leaderboardData">
      <ng-container matColumnDef="Username">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" > <a class="link" [routerLink]="['/user', element.username]">{{element.username}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Score">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
          <img class="headerImage" ngSrc="assets/score.png" height="36" width="36" title="Score/Rating"/>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.score}}</td>
      </ng-container>

      <ng-container matColumnDef="EasyChallengesCompleted">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
          <img class="headerImage" ngSrc="assets/clear_easy.png" height="36" width="36" title="Easy Challenges Completed"/>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.easyChallengesCompleted}}</td>
      </ng-container>

      <ng-container matColumnDef="NormalChallengesCompleted">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
          <img class="headerImage" ngSrc="assets/clear_normal.png" height="36" width="36" title="Normal Challenges Completed"/>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.normalChallengesCompleted}}</td>
      </ng-container>

      <ng-container matColumnDef="HardChallengesCompleted">
        <th mat-header-cell *matHeaderCellDef style="text-align: center; padding: 5px">
          <img class="headerImage" ngSrc="assets/clear_hard.png" height="36" width="36" title="Hard Challenges Completed"/>
        </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.hardChallengesCompleted}}</td>
      </ng-container>

      <ng-container matColumnDef="ExpertChallengesCompleted">
        <th mat-header-cell *matHeaderCellDef style="text-align: center"> <img class="headerImage" ngSrc="assets/clear_expert.png" height="36" width="36" title="Expert Challenges Completed"/> </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.expertChallengesCompleted}}</td>
      </ng-container>

      <ng-container matColumnDef="ReverseChallengesCompleted">
        <th mat-header-cell *matHeaderCellDef style="text-align: center"> <img class="headerImage" ngSrc="assets/clear_reverse.png" height="36" width="36" title="Reverse Challenges Completed"/> </th>
        <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.reverseChallengesCompleted}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="leaderboardColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: leaderboardColumns;" ></tr>
    </table>
  </div>
</div>
