<!-- Profile header-->
<div *ngIf="dailyData !== undefined" class="userContainer" style="position: relative; padding: 0px">
  <div class="userBanner" style="background-image: url('{{dailyData.userInfo?.banner}}');"></div>
  <div class="flexRow gap userInfoContainer">
    <img src="{{dailyData.userInfo?.avatar}}" class="profileImage">
    <span class="title username textShadow cb">{{username}}'s profile</span>
  </div>
  <div class="linkContainer userInfoContainer">
      <mat-icon class="icon textShadow" (click)="openTetrioProfile()">double_arrow</mat-icon>
      <span (click)="openTetrioProfile()" class="textShadow" style="font-size: 18pt">TETR.IO profile</span>
  </div>
</div>

<!-- Settings -->
<div *ngIf="isSameUser" class="userContainer">
  <h2>Settings</h2>
  <div style="display: inline-flex; justify-items: center; align-items: center;">
    <input type="checkbox" id="autoTrackingSetting" [checked]="isAutoUpdate" (change)="onAutoTrackingChanged($event)">
    <label for="autoTrackingSetting">Enable Auto Tracking?</label>
  </div>
</div>

<!-- Daily Adventure -->
<div *ngIf="dailyData !== undefined" class="userContainer">
  <h2 class="title">ZDC Stats & History</h2>

  <div class="flexColumn scoreContainer stripes">
    <img src="assets/score.png" class="hugeMod"/>
    <span class="scoreDisplay"> {{dailyData.score}}</span>
  </div>

  <div *ngIf="dailyData !== undefined" class="flexColumn">
    <div class="flexContainer">
      <div class="modContainer nomod">
        <div class="stripes"></div>

        <div class="details">
          <p>No Mod</p>
          <p class="altitude highlight">{{dailyData.altitudes.noMod.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.totalChallengesCompleted.toLocaleString()}} challenges completed</p>
        </div>
      </div>
      <div class="modContainer expert">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/expert.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.expert.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.expert?.toLocaleString() ?? 0}} masteries completed</p>
        </div>
      </div>
      <div class="modContainer nohold">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/nohold.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.noHold.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.noHold?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>
    </div>

    <div class="flexContainer">
      <div class="modContainer messy">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/messy.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.messy.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.messy?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>

      <div class="modContainer gravity">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/gravity.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.gravity.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.gravity?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>

      <div class="modContainer volatile">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/volatile.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.volatile.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.volatile?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>
    </div>

    <div class="flexContainer">
      <div class="modContainer doublehole">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/doublehole.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.doubleHole.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.doubleHole?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>

      <div class="modContainer invisible">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/invisible.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.invisible.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.invisible?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>

      <div class="modContainer allspin">
        <div class="stripes"></div>

        <div class="details">
          <img src="assets/tetrio-img/mods/allspin.png" class="bigMod" />
          <p class="altitude highlight">{{dailyData.altitudes.allSpin.toLocaleString()}} M</p>
          <p class="completions">{{dailyData.masteryCompletions?.allSpin?.toLocaleString() ?? 0}} mastery completions</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.hotel)">
    <h2 class="title">Zenith Splits</h2>
    <div class="splitContainer">
      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.hotel)" class="split hotel">
        <div class="splitWrapper">
          <a>HOTEL</a>
          <a class="bigNumber">{{ dailyData.goldSplits.hotel }}</a>
          <a class="smallNumber">{{ dailyData.splitAverages.hotel }}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.casino)" class="split casino">
        <div class="splitWrapper">
          <a>CASINO</a>
          <a class="bigNumber">{{dailyData.goldSplits.casino}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.casino}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.arena)" class="split arena">
        <div class="splitWrapper">
          <a>ARENA</a>
          <a class="bigNumber">{{dailyData.goldSplits.arena}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.arena}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.museum)" class="split museum">
        <div class="splitWrapper">
          <a>MUSEUM</a>
          <a class="bigNumber">{{dailyData.goldSplits.museum}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.museum}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.offices)" class="split offices">
        <div class="splitWrapper">
          <a>OFFICES</a>
          <a class="bigNumber">{{dailyData.goldSplits.offices}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.offices}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.laboratory)" class="split laboratory">
        <div class="splitWrapper">
          <a>LABORATORY</a>
          <a class="bigNumber">{{dailyData.goldSplits.laboratory}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.laboratory}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.core)" class="split core">
        <div class="splitWrapper">
          <a>CORE</a>
          <a class="bigNumber">{{dailyData.goldSplits.core}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.core}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.corruption)" class="split corruption">
        <div class="splitWrapper">
          <a>CORRUPTION</a>
          <a class="bigNumber">{{dailyData.goldSplits.corruption}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.corruption}}</a>
        </div>
      </div>

      <div *ngIf="dailyData !== undefined && isNotEmptyTime(dailyData.goldSplits.platformOfTheGods)" class="split potg">
        <div class="splitWrapper">
          <a>POTG</a>
          <a class="bigNumber">{{dailyData.goldSplits.platformOfTheGods}}</a>
          <a class="smallNumber">{{dailyData.splitAverages.platformOfTheGods}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="userContainer">
  <h2 class="title">Completed Challenges</h2>
  <div *ngIf="dailyData !== undefined && challengeData !== undefined && challengeData.length > 0" >
    <mat-paginator *ngIf="dailyData.challengesCompleted > 10"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   [pageSize]="challengePageSize"
                   [length]="dailyData.challengesCompleted"
                   (page)="onPageChange($event, 0)"
                   aria-label="Select page of runs">
    </mat-paginator>

    <div style="overflow-x: auto">
      <table mat-table [dataSource]="challengeData">
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Completion Status </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <img [src]="getCompletedImage(Difficulty.Easy, element.easyCompleted)" class="mod" />
              <img [src]="getCompletedImage(Difficulty.Normal, element.normalCompleted)" class="mod" />
              <img [src]="getCompletedImage(Difficulty.Hard, element.hardCompleted)" class="mod" />
              <img [src]="getCompletedImage(Difficulty.Expert, element.expertCompleted)" class="mod" />
              <img [src]="getCompletedImage(Difficulty.Reverse, element.reverseCompleted)" class="mod" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row sticky *matHeaderRowDef="challengesColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: challengesColumns;"></tr>
      </table>
    </div>

    <mat-paginator *ngIf="dailyData.challengesCompleted > 25"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   [pageSize]="challengePageSize"
                   [length]="dailyData.challengesCompleted"
                   (page)="onPageChange($event, 0)"
                   aria-label="Select page of runs">
    </mat-paginator>
    </div>
</div>

<div *ngIf="communityContributionData !== undefined && communityContributionData.length > 0" class="dailyContainer userContainer">
  <h2 class="title">Community Challenge Contributions</h2>
  <mat-paginator *ngIf="communityContributionData[0].totalContributions > challengePageSize"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [pageSize]="communityChallengePageSize"
                 [length]="communityContributionData[0].totalContributions"
                 (page)="onPageChange($event, 1)"
                 aria-label="Select page of runs">
  </mat-paginator>

  <div style="overflow-x: auto">
    <table mat-table [dataSource]="communityContributionData">
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.challenge}} </td>
      </ng-container>

      <ng-container matColumnDef="Contribution">
        <th mat-header-cell *matHeaderCellDef> Contribution </th>
        <td mat-cell *matCellDef="let element">
          {{getCommunityContributionvalue(element.totalAmountContributed, element.conditionType)}}
        </td>
      </ng-container>

      <tr mat-header-row sticky *matHeaderRowDef="communityChallengeColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: communityChallengeColumns;"></tr>
    </table>
  </div>

  <mat-paginator *ngIf="communityContributionData[0].totalContributions > challengePageSize"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [pageSize]="communityChallengePageSize"
                 [length]="communityContributionData[0].totalContributions"
                 (page)="onPageChange($event, 1)"
                 aria-label="Select page of runs">
  </mat-paginator>

</div>

<div (click)="submitRuns()" *ngIf="isSameUser" class="bigButton"><a>Submit New Runs</a></div>

<div *ngIf="dailyData !== undefined && runData !== undefined && runData.length > 0" class="runs userContainer">
  <h2 class="title">Recent Runs</h2>

  <mat-paginator *ngIf="dailyData.runs > 25"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 [pageSize]="runPageSize"
                 [length]="dailyData.runs"
                 (page)="onPageChange($event, 2)"
                 aria-label="Select page of runs">
  </mat-paginator>
  <div style="overflow-x: auto">
    <table mat-table [dataSource]="runData">
      <ng-container matColumnDef="Altitude">
        <th mat-header-cell *matHeaderCellDef> Altitude </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.altitude}} M</td>
      </ng-container>

      <ng-container matColumnDef="APM">
        <th mat-header-cell *matHeaderCellDef> APM </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.apm}}</td>
      </ng-container>

      <ng-container matColumnDef="PPS">
        <th mat-header-cell *matHeaderCellDef> PPS </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.pps}}</td>
      </ng-container>

      <ng-container matColumnDef="VS">
        <th mat-header-cell *matHeaderCellDef> VS </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.vs}}</td>
      </ng-container>

      <ng-container matColumnDef="KOs">
        <th mat-header-cell *matHeaderCellDef> KO's </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.kOs}}</td>
      </ng-container>

      <ng-container matColumnDef="Quads">
        <th mat-header-cell *matHeaderCellDef> Quads </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.quads}}</td>
      </ng-container>

      <ng-container matColumnDef="Spins">
        <th mat-header-cell *matHeaderCellDef> Spins </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.spins}}</td>
      </ng-container>

      <ng-container matColumnDef="AllClears">
        <th mat-header-cell *matHeaderCellDef> PC's </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> {{element.allClears}}</td>
      </ng-container>

      <ng-container matColumnDef="Mods">
        <th mat-header-cell *matHeaderCellDef> Mods </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[getSpeedrunCompletedClass(element.altitude, element.speedrunCompleted, element.speedrunSeen)]"> <img *ngFor="let img of getModArray(element.mods)" [src]="getModImage(img)" class="mod" /> </td>
      </ng-container>

      <tr mat-header-row sticky *matHeaderRowDef="runColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: runColumns;" ></tr>
    </table>
  </div>
  <mat-paginator *ngIf="dailyData.runs > 25"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 [pageSize]="runPageSize"
                 [length]="dailyData.runs"
                 (page)="onPageChange($event, 2)"
                 aria-label="Select page of runs">
  </mat-paginator>
</div>
