@if (splitTimes !== undefined) {
  <div style="margin: 5px">
    <div class="">
      <mat-chip-listbox (change)="onSplitFilterChanged($event)">
        @for (mod of splitMods; track $index) {
          <mat-chip-option style="display: flex;" [value]="mod">
            @if($index > 0){
              <img matChipAvatar src="assets/tetrio-img/mods/{{getModImageFromModList(mod)}}.png">
            }
            {{splitModsText[$index]}}
          </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div class="splitContainer">
      @for (floor of floors; track floor) {
        <div [class]='["split", floor]'>
          <div [class]='["splitBackground", floor, getFloorReachedCss(splitTimes[floor])]'></div>
          <div class="splitWrapper">
            <div [class]='["flexStretch", "floor", floor, getFloorReachedCss(splitTimes[floor])]'>
              @if (floor === "potg") {
                <div class="flexColumn">
                  <span>platform of the</span>
                  <span>gods</span>
                </div>
              }@else{
                <span>{{floor}}</span>
              }
            </div>
            <div class="flexStretch splitItem flexColumn">
              @if (isNotEmptyTime(splitTimes[floor].bestTime)) {
                <span class="headerText" style="font-size: 1.25rem">Best Time</span>
              }
              <span class="boldText goldTime" title="Fastest time">{{ getSplitText(splitTimes[floor].bestTime) }}</span>
              @if (isNotEmptyTime(splitTimes[floor].bestTime)) {
                <span class="headerText achievedText" style="margin-bottom:2px">achieved {{ getSplitText(splitTimes[floor].bestTimeAchievedDate) }}</span>
              }
            </div>
            <div class="flexStretch splitItem flexColumn">
              @if (isNotEmptyTime(splitTimes[floor].averageTime)) {
                <span class="headerText" style="font-size: 1.25rem">Average Time</span>
              }
              <span class="boldText averageTime" title="Average time">{{ getSplitText(splitTimes[floor].averageTime, true) }}</span>
            </div>
          </div>
        </div>
      }
    </div>
<!--    <div [routerLink]="['/user', username, 'splits']" class="linkContainer userInfoContainer">-->
<!--      <mat-icon class="icon textShadow">double_arrow</mat-icon>-->
<!--      <span  class="textShadow boldText" style="font-size: 18pt">View all Splits</span>-->
<!--    </div>-->
  </div>
}
