@use '../../../styles' as *;
@use '../../../styling/splits' as *;
@use '../../../styling/colors' as *;

.userContainer{
  @extend .baseContainer;

  padding: 10px;

  border: 1px solid $accent-color;

  @media screen and (max-width: 600px) {
    border-right: none;
    border-left: none;
  }
}

.title{
  @extend .headerText;

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.splitContainer{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  .splitWrapper{
    background: rgba(0,0,0,0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;

    color: white;
    text-shadow: 2px 2px 3px black;
  }

  .split{
    padding: 5px;
    margin: 5px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 2rem;
      text-align: center;
      width: initial;
    }

    &.hotel{
      background-color: rgba($hotel-color, 1);
    }

    &.casino{
      background-color: rgba($casino-color, 1);
    }

    &.arena{
      background-color: rgba($arena-color, 1);
    }
    &.museum{
      background-color: rgba($museum-color, 1);
    }

    &.offices{
      background-color: rgba($offices-color, 1);
    }

    &.laboratory{
      background-color: rgba($laboratory-color, 1);
    }

    &.core{
      background-color: rgba($core-color, 1);
    }

    &.corruption{
      background-color: rgba($corruption-color, 1);
    }

    &.potg{
      background-color: rgba($potg-color, 1);
    }
  }

  .bigNumber{
    font-size: 20px;
  }

  .smallNumber{
    font-size: 14px;
  }
}
