<div class="create-container">
  <span class="pre-title">Announcing a new way to enjoy QP2 challenges!</span>
  <span class="title">ZDC - Challenge Hub</span>
  <span class="description">working title</span>
  <div class="cards-container">
    <div class="card">
      <span class="card-title">Create!</span>
      <span>Create your own challenges completely from scratch! Add as many conditions as you want! </span>
      <span>Mods? Yes, sure! Need to go fast and reach a specific Floor in a specific amount of time? I got you covered! </span>
      <span>Own Title and description is also possible maybe you want to give your challenge some lore? </span>
    </div>
    <div class="card">
      <span class="card-title">Share!</span>
      <span>Share your challenges with others so they can play your creations. Sharing is as simple as pressing a button. </span>
      <span>Private challenges are also possible, only people with the link to the challenge can compete. </span>
    </div>
    <div class="card">
      <span class="card-title">Compete!</span>
      <span>Compete on created challenges on their own leaderboard to see who is the best! </span>
      <span>You decide what the important stat is to sort the leaderboard by. Altitude High Flighers? Spin King? Speedrun maniac? You decide! </span>
      <span>Want to create a limited time challenge? Go ahead and set a time limit for your challenge! Competitors will only be able to compete within the specified time frame.</span>
    </div>
  </div>
  <div class="featured">
    <span class="title">Go featured!</span>
    <span>Your challenge got popular? Great, there is a high chance you and your challenge will be featured on the main page! </span>
    <span>Featured challenges can award score! No worries, if you already played it before it got featured, you will still be able to gain score on it. </span>
  </div>
  <div class="release">
    <span class="sub">coming</span>
    <span class="title">2026</span>
    <span class="sub small">hopefully...</span>
    <span class="sub smaller">I try...</span>
  </div>
</div>
