@use "../styling/colors" as *;
@use "../styling/base" as base;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1080px;
  max-width: 2560px;
  margin: auto;

  @media screen and (max-width: 1080px) {
    width: 100%;
    margin: initial;
    min-width: initial;
  }
}

.main-content {
  flex: 1;

}

.drawer-container{
  background: transparent;
  color: $text-color;
  height: 100vh; // Ensure the container has a defined height for sticky to work
}

.sidenav{
  background: $background-color;
  color: $text-color;

  border-right: 2px solid $accent-color;
  border-radius: 0;
}

.local-warning-banner {
  @extend .headerText;

  width: 100%;
  height: 30px;
  background: repeating-linear-gradient(
      -45deg,
      #fffacd,
      #fffacd 10px,
      #e0d4b8 10px,
      #e0d4b8 20px
  );
  color: black;
  border-bottom: 2px solid $accent-color;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
