@use "../styling/colors" as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1080px;
  max-width: 2560px;
  margin: auto;

  @media screen and (max-width: 1080px) {
    width: 100%;
    margin: initial;
    min-width: initial;
  }
}

.main-content {
  flex: 1;

}

.drawer-container{
  background: transparent;
  color: $text-color;
  height: 100vh; // Ensure the container has a defined height for sticky to work
}

.sidenav{
  background: $background-color;
  color: $text-color;

  border-right: 2px solid $accent-color;
  border-radius: 0;
}
