<div class="app-container">
  @if(isLocal){
    <div class="dev-banner">
      <div class="dev-banner-container">
        <mat-icon class="warning-icon">construction</mat-icon>
        <span class="banner-text">Development Build</span>
        <mat-icon class="warning-icon">construction</mat-icon>
      </div>
    </div>
  }

  <mat-drawer-container class="drawer-container">
    <app-header [drawer]="drawer" />

    <mat-drawer #drawer class="sidenav" mode="over" (openedChange)="onDrawerToggle($event)">
      <app-side-menu [drawer]="drawer"/>
    </mat-drawer>
    <div class="main-content">
      <router-outlet />
    </div>

    <app-footer/>
  </mat-drawer-container>
</div>
