@use '@angular/material' as mat;
@use 'colors' as *;

@use 'angular-component-styles/datepicker' as *;
@use 'angular-component-styles/form-input' as *;
@use 'angular-component-styles/table' as *;
@use 'angular-component-styles/mat-symbols' as *;
@use 'angular-component-styles/paginator' as *;
@use 'angular-component-styles/tab' as *;
@use 'angular-component-styles/expansion' as *;

:root {
  @include mat.chips-overrides((
    label-text-color: $text-color,
    selected-label-text-color: $background-color,
    label-text-font: 'Inter',
    outline-color: $text-color,
    focus-outline-color: $primary-color,
    label-text-weight: 800,
  ));

  @include mat.checkbox-overrides((
    label-text-color: $text-color,
    label-text-font: 'Inter',
    label-text-weight: 800,
    selected-icon-color: $primary-color,
    selected-hover-icon-color: rgba($primary-color, 0.75),
    selected-focus-icon-color: rgba($primary-color, 0.75),

    selected-hover-state-layer-color:     $primary-color,
    selected-focus-state-layer-color:     $primary-color,
    selected-pressed-state-layer-color:   $primary-color,
    unselected-hover-state-layer-color:   $primary-color,
    unselected-focus-state-layer-color:   $primary-color,
    unselected-pressed-state-layer-color: $primary-color,
  ));

  @include mat.tooltip-overrides((
    container-shape: 'flat',
    container-color: $background-shade-solid,

    supporting-text-font: 'Inter',
    supporting-text-weight: '600',
    supporting-text-size: 1rem,
    supporting-text-color: $text-color,
  ));
}
