$text-color: #f2ebe4;
$background-color: #1d150c;
$background-shade: rgba(255, 255, 255, 0.03);
$primary-color: #debf9f;
$secondary-color: #7c5123;
$accent-color: #d38838;

$shadow-color: #210707;

$easy-text-color: #6baeff;
$normal-text-color: #ff9c6b;
$normal-accent-color: #b83a1b;
$hard-text-color: #e75959;
$hard-accent-color: #e57373;
$expert-accent-color: #d49b07;
$reverse-text-color: #FFFFFF;
$reverse-accent-color: #ff0059;
$expert-text-color: #ffc107;

$community-text-color: #a164ff;

$stipes-background: repeating-linear-gradient( -45deg, #0d0d0d88, #0d0d0d88 12px, #1a1a1a88 12px, #1a1a1a88 25px );
$stripes-light-background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );
