$text-color: #e7e7ea;
$subtle-text-color: rgba($text-color, 0.4);
$background-color: #211b27;
$background-shade-solid: #2c2334;
$background-shade: rgba(255, 255, 255, 0.10);
$background-dark-shade: #0e0f13;

$primary-color: #e7e5e4;
$accent-color: #e7e5e4;
$secondary-color: #a1a1aa;
$colorful-accent-color: #c7a6ff;
$colorful-accent-gradientColor1: mediumpurple;
$colorful-accent-gradientColor2: #c7a6ff;

$shadow-color: rgba(0, 0, 0, 0.55);

$border-color-gradient: linear-gradient(145deg, gold, #fff3a3);

// Difficulty colors
$easy-text-color: #6baeff;
$normal-text-color: #ff9c6b;
$normal-accent-color: #b83a1b;
$hard-text-color: #e75959;
$hard-accent-color: #e57373;
$expert-accent-color: #d49b07;
$reverse-text-color: #FFFFFF;
$reverse-accent-color: #ff0059;
$reverse-dark-accent-color: #8a022e;
$expert-text-color: #ffc107;

$community-text-color: #a164ff;

// Gradients
$colorful-accent-gradient: linear-gradient(135deg, $colorful-accent-gradientColor1, $colorful-accent-gradientColor2);
$colorful-accent-90gradient: linear-gradient(90deg, $colorful-accent-gradientColor1, $colorful-accent-gradientColor2);
$gold-gradient: linear-gradient(135deg, rgb(255 148 45 / 0.95), rgb(255 221 61 / 0.95) 100%);
$reverse-gradient: linear-gradient(135deg, $reverse-dark-accent-color, $reverse-accent-color);

//Container Gradients
$wom-container-gradient: linear-gradient(135deg, rgb(85 72 20 / 0.95) 0%, rgb(60 35 10 / 0.95) 100%);
$reverse-container-gradient: linear-gradient(135deg, rgba(#88002d, 0%), rgba(#3f0013, 0.95) 100%);
$community-gradient: linear-gradient(135deg, rgba(52, 20, 85, 0.95) 0%, rgba(30, 10, 60, 0.95) 100%);

// Stripes
$stipes-background: repeating-linear-gradient( -45deg, #0d0d0d88, #0d0d0d88 12px, #1a1a1a88 12px, #1a1a1a88 25px );
$stripes-light-background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );

.normalTextColor{
  color: $text-color;
}
