@use "../../../styles" as *;
@use "../../../styling/colors" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100vh; // Ensure the container takes full height
  max-height: 100vh;

  border-left: 1px solid $accent-color;
}

.header{
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  letter-spacing: 5px;

  border-bottom: 2px solid $accent-color;

  margin-bottom: 5px;
  //padding: 10px;

  .userInfo {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .profilePicture {
      max-height: 64px;
      //border-radius: 50%;
      border-right: 2px solid $accent-color;
    }
  }

  .profileSplit{
    flex: auto 1;
  }

  a {
    @extend .headerText;

    text-decoration: none;
    margin: 0 15px;
    color: $text-color;
    width: 100%;
    text-align: center;

    transition: all .3s ease-in-out;

    &:hover {
      color: $colorful-accent-color;
      letter-spacing: 10px;
    }
  }

  .banner{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;

    max-height: 64px;
  }
}

.menuItems{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  margin-top: 10px;
}

.menuItem{
  @extend .headerText;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover{
    color: $primary-color;

    letter-spacing: 1px;
    transform: skewX(-10deg);
  }
}

.footer{
  @extend .headerText;

  text-align: center;
  margin-top: auto;
  border-top: 1px solid $accent-color; // Optional: adds a visual separator
  padding: 10px 0;

  cursor: pointer;

  font-size: 1.5rem;

  letter-spacing: 2px;
}

.challengeCompletions{
  border-bottom: 2px solid $accent-color;
}

.challengeUncompleted{
  filter: grayscale(100%);
}
