@use '../../../styles' as *;
@use '../../../styling/splits' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/mixins' as mix;

// Map for dynamic mod styles
$mods: (
  "expert": rgba(255, 248, 0, 0.75),
  "nohold": rgba(227, 69, 213, 0.75),
  "messy": rgba(221, 105, 67, 0.75),
  "gravity": rgba(246, 165, 63, 0.75),
  "volatile": rgba(227, 68, 95, 0.75),
  "doublehole": rgba(67, 130, 219, 0.75),
  "invisible": rgba(132, 67, 222, 0.75),
  "allspin": rgba(67, 222, 157, 0.75),
);

@each $name, $color in $mods {
  .modContainer.#{$name} {
    border: $color 3px solid;
    background-color: $color;
    .highlight {
      @extend .headerText;
      text-shadow: 0 3px $color, 0 6px 16px $color;
    }
  }
}

.marginLeft{
  margin-left: 10px;
}

.marginRight{
  margin-right: 10px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexStretch{
  flex: 1;
}

.flexRemaining{
  flex: 0;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.profileHeader{
  background: linear-gradient(to bottom, #300f0b 0, #4c1d0c 100%);
  border-bottom: 2px solid $accent-color;

  color: $accent-color;

  padding: 10px;

  a {
    font-size: 3rem;

    @media screen and (max-width: 600px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.title{
  @extend .headerText;

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.userBanner{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover; background-position: center;
  opacity: 0.8;
}

.username{
  font-size: 2rem;

  @media screen and (max-width: 600px) {
    text-align: center;
  }
}

.profileImage{
  max-height: 128px;
  border-radius: 50%;
  border: 4px solid $accent-color;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.userInfoContainer{
  vertical-align: middle;
  text-align: center;
  align-items: center;
  position:relative;
  z-index: 1;

  margin: 10px;
}

.userContainer{
  @extend .baseContainer;

  padding: 10px;

  @media screen and (max-width: 600px) {
    border-right: none;
    border-left: none;
    padding: 0;
  }
}

.textShadow{
  text-shadow: 2px 0 $background-color, -2px 0 $background-color, 0 2px $background-color, 0 -2px $background-color,
  1px 1px $background-color, -1px -1px $background-color, 1px -1px $background-color, -1px 1px $background-color;
}

.linkContainer{
  font-family: "CB", sans-serif;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;

  cursor: pointer;
}

@mixin clip-right-slant($offset, $side: bottom) {
  $xr: 100% - $offset; // compile-time math, no calc() in output

  @if $side == top {
    // Right edge slopes down-right (top-right inset)
    clip-path: polygon(0 0, $xr 0, 100% 100%, 0 100%);
  } @else {
    // Right edge slopes up-right (bottom-right inset)
    clip-path: polygon(0 0, 100% 0, $xr 100%, 0 100%);
  }
}

.splitContainer{
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;

  .splitWrapper{
    background: rgba(black, 0.40);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    min-height: 100px;

    color: white;
    text-shadow: 2px 2px 3px black;
    z-index: 10;

    .splitItem{
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 1;

      .goldTime{
        font-size: 3rem;

        @media screen and (max-width: 600px) {
          font-size: 1.25rem;
        }
      }

      .averageTime{
        font-size: 2rem;

        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }

      .achievedText{
        @media screen and (max-width: 600px) {
          font-size: 1rem;
        }
      }
    }

    .floor{
      @extend .headerText;
      font-size: 2.5rem;

      letter-spacing: 5px;
      text-transform: uppercase;

      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 150px;

      padding-right: 20px;

      @include clip-right-slant(15%, bottom);

      @media screen and (max-width: 600px) {
        letter-spacing: 0;
        font-size: 1rem !important;
      }

      &.notReached{
        filter: grayscale(100%) !important;
      }

      // Generate floor background colors
      @each $floor, $color in $floor-colors {
        &.#{$floor} {
          background-color: rgba($color, 0.3);
        }
      }

      &.potg{
        font-size: 2rem;
        text-align: center;
        word-wrap: break-word;

        background-color: rgba($potg-color, 0.3);
      }
    }
  }

  .split{
    position: relative;

    $zenithSplitsBorderWidth: 5px;

    border-top: 1px solid rgba($text-color, 0.8);

    // Generate floor borders
    @each $floor, $color in $floor-colors {
      &.#{$floor} {
        border-left: $zenithSplitsBorderWidth solid $color;
        border-right: $zenithSplitsBorderWidth solid $color;
        @if $floor == "hotel" {
          border-bottom: $zenithSplitsBorderWidth solid $color;
        }
        @if $floor == "potg" {
          border-top: $zenithSplitsBorderWidth solid $color;
        }
      }
    }

    .splitBackground{
      position: absolute;
      inset: 0;
      width: auto;
      height: auto;
      z-index: 0;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      filter: opacity(0.5);

      &.notReached{
        filter: grayscale(100%) blur(5px) opacity(0.5);
      }

      // Map for background images
      $floor-images: (
        "hotel": "2fa", "casino": "3fa", "arena": "4fa", "museum": "5fa",
        "offices": "6fa", "laboratory": "7fa", "core": "8fa", "corruption": "9fa", "potg": "10fa"
      );

      @each $floor, $img in $floor-images {
        &.#{$floor} {
          background-image: url('https://tetr.io/res/bg/zenith/#{$img}.jpg');
        }
      }
    }

    @media screen and (max-width: 600px) {
      font-size: 2rem;
      text-align: center;
      width: initial;
    }
  }
}

.floorBox{
  padding: 5px;
  margin: 5px;
  width: 100%;
}

.bigNumber{
  font-size: 20px;
}

.smallNumber{
  font-size: 14px;
}

th{
  @extend .headerText;

  font-size: 16pt;

  @media screen and (max-width: 600px) {
    font-size: 16pt;
  }
}

.speedrun{
  position: relative;
  animation: rainbow-border 5s linear infinite;

  @keyframes rainbow-border {
    0% {
      box-shadow: inset 0 -15px 10px -10px red;
      //color: red;
      text-shadow:2px 2px 5px red;
    }
    14% {
      box-shadow: inset 0 -15px 10px -10px orange;
      //color: orange;
      text-shadow:2px 2px 5px orange;
    }
    28% {
      box-shadow: inset 0 -15px 10px -10px yellow;
      //color: yellow;
      text-shadow:2px 2px 5px yellow;
    }
    42% {
      box-shadow: inset 0 -15px 10px -10px green;
      //color: green;
      text-shadow:2px 2px 5px green;
    }
    57% {
      box-shadow: inset 0 -15px 10px -10px cyan;
      //color: cyan;
      text-shadow:2px 2px 5px cyan;
    }
    71% {
      box-shadow: inset 0 -15px 10px -10px blue;
      //color: blue;
      text-shadow:2px 2px 5px blue;
    }
    85% {
      box-shadow: inset 0 -15px 10px -10px violet;
      //color: violet;
      text-shadow:2px 2px 5px violet;
    }
    100% {
      box-shadow: inset 0 -15px 10px -10px red;
      //color: red;
      text-shadow:2px 2px 5px red;
    }
  }
}

.speedrunSeen{
  animation: rainbow-text 5s linear infinite;

  @keyframes rainbow-text {
    0% {
      box-shadow: inset 0 -7px 10px -10px red;
    }
    14% {
      box-shadow: inset 0 -7px 10px -10px orange;
    }
    28% {
      box-shadow: inset 0 -7px 10px -10px yellow;
    }
    42% {
      box-shadow: inset 0 -7px 10px -10px green;
    }
    57% {
      box-shadow: inset 0 -7px 10px -10px cyan;
    }
    71% {
      box-shadow: inset 0 -7px 10px -10px blue;
    }
    85% {
      box-shadow: inset 0 -7px 10px -10px violet;
    }
    100% {
      box-shadow: inset 0 -7px 10px -10px red;
    }
  }
}

.flexContainer{
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin: 0;
  }
}

.modContainer{
  position: relative;
  width: 100%;
  text-align: center;
  margin: 5px;
  padding: 10px;

  color: #FFF !important;

  @media screen and (max-width: 600px) {
    width: initial;
  }

  .stripes{
    position: absolute;
    inset: 0;
    z-index: 0;  // Place it behind other content

    background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );

    .borderTop{
      //border-top: 3px solid #00000033;
      border-top: 3px solid #FFF;
    }

    .borderBottom{
      border-bottom: 3px solid #00000033;
    }
  }

  .details{
    font-family: 'CB', "Helvetica Neue", sans-serif, serif;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;

    .details h2,
    .details h3 {
      margin: 0;
      flex: 1;
    }

    .details img{
      flex: 1;
      margin: auto;
    }

    .details, .altitude{
      font-size: 3rem;
      margin: 0;
    }

    .details .completions{

    }

  }

  &.nomod {
    background-color: $background-color;
    border: #DCD 3px solid;

    .highlight {
      @extend .headerText;

      text-shadow: 0 3px #CCBBCC, 0 6px 16px #CCBBCC;
    }
  }

  &.reverseMod {
    border: 3px solid #ff0059;
    background-color: rgba(170, 0, 89, 0.5);

    .highlight {
      @extend .headerText;

      color: white;
      text-shadow: 0 3px #ff0059, 0 6px 16px #ff0059;
    }
  }
}

.scoreContainer{
  font-family: 'CB', "Helvetica Neue", sans-serif, serif;
  font-size: 3rem;

  color: white;

  text-shadow: 0 3px #CCBBCC, 0 6px 16px #CCBBCC;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-color: $background-color;
  border: #DCD 3px solid;

  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

 img{
   @media screen and (max-width: 600px) {
     max-height: 64px;
     max-width: 64px;
   }
 }
}

.challengeUncompleted{
  filter: grayscale(100%);
}

.completionTable{
  display: flex;

  flex-direction: row;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
