<div class="container">
  <div class="nav-items">
    <span (click)="setViewActive('seasonal')" [class]="isActiveView('seasonal')" matTooltip="Active Season leaderboard">Seasonal</span>
    <span (click)="setViewActive('all-time')" [class]="isActiveView('all-time')" matTooltip="All time score leaderboard">All Time</span>
    <span (click)="setViewActive('legacy')" [class]="isActiveView('legacy')" matTooltip="Legacy leaderboard with old scoring and before seasons where introduced">Legacy</span>
  </div>
  @if(activeLeaderboard && activeLeaderboard.leaderboard && activeLeaderboard.leaderboard.length > 0){
    <div class="leaderboard">
      <table class="leaderboard-table">
        <tr class="leaderboard-header">
          <th>Rank</th>
          <th style="text-align: left;">Name</th>
          <th>Score</th>
          @if (isActiveView('seasonal')) {
            <th>Top Run</th>
            <th>APM</th>
            <th>VS</th>
            <th>KO's</th>
            <th>Runs</th>
          }
        </tr>
        @for (user of activeLeaderboard?.leaderboard; track $index){
          @if ($index > -1){
            <tr class="leaderboard-row"
                [class.first-place]="$index === 0"
                [class.second-place]="$index === 1"
                [class.third-place]="$index === 2">
              <td>
                <span class="placement">
                  <span class="hashtag"># </span>
                  <span>{{$index + 1}}</span>
                </span>
              </td>
              <td [routerLink]="['/u', user.username]">
                <div class="user-cell">
                    <img src="https://tetr.io/user-content/avatars/{{user.tetrioId}}.jpg" class="profile-image" (error)="onImageError($event)"/>
                    <span>{{user.username}}</span>
                </div>
              </td>
              <td><span class="score-text">{{user.score.toLocaleString('en-US')}}</span></td>
              @if (isActiveView('seasonal')) {
                <td class="top-run">{{user.topRun.toLocaleString('en-US')}}</td>
                <td class="apm">{{user.apm.toLocaleString('en-US')}}</td>
                <td class="vs">{{user.vs.toLocaleString('en-US')}}</td>
                <td class="kos">{{user.kos.toLocaleString('en-US')}}</td>
                <td class="runs">{{user.runs.toLocaleString('en-US')}}</td>
              }
            </tr>
          }
        }
      </table>
    </div>
  }
</div>
