@use '../../../styles' as *;
@use '../../../styling/colors' as *;
@use '../../../styling/base' as base;

.base-card{
  display: flex;
  flex-direction: column;

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  &:hover{
    transform: translateY(-5px);
    filter: brightness(2);
  }
}

.container{
  display: flex;
  flex-direction: column;

  gap: 16px;

  .nav-items{
    display: flex;
    flex-direction: row;

    background: $base-container-gradient;
    border-bottom: 1px solid rgba($text-color, 0.1);

    @include base.mobile(){
      flex-direction: column;

      text-align: center;
    }

    gap: 16px;
    padding: 0 16px;

    .nav-item{
      @extend .header-text;

      display: block;
      padding: 16px 6px;

      font-size: 1.5rem;

      border-bottom: 3px solid transparent;

      color: $text-color;

      cursor: pointer;

      transition: border 0.2s ease-in-out;

      &:hover{
        border-bottom: 3px solid $text-color;
      }

      &.active{
        @extend .gradient-text;

        background: $text-90gradient;
        text-shadow: 0 0 30px rgba($colorful-accent-gradientColor2, 0.5);

        border-bottom: 3px solid $colorful-accent-gradientColor2;
      }
    }

    .seasonal-time-left{
      @extend .header-text;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      margin-left: auto;

      padding: 16px 6px;

      font-size: 1.5rem;

      border-bottom: 3px solid transparent;

      @include base.mobile(){
        margin-left: unset;
        justify-content: center;
      }

      mat-icon{
        @extend .gradient-text;

        background: $text-90gradient;
        text-shadow: 0 0 30px rgba($colorful-accent-gradientColor2, 0.5);
      }

      span{
        @extend .gradient-text;

        vertical-align: center;
        align-self: center;

        background: $text-90gradient;
        text-shadow: 0 0 30px rgba($colorful-accent-gradientColor2, 0.5);
      }
    }
  }

  .leaderboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    .leaderboard-table{
      width: 100%;
    }

    .leaderboard-header{
      @extend .table-header;
    }

    .leaderboard-row{
      @extend .numeric;
      @extend .table-row;

      .placement{
        @extend .header-text;
        @extend .gradient-text;

        background: $text-90gradient;
        text-shadow: 0 0 30px rgba($colorful-accent-gradientColor2, 0.5);

        font-size: 2rem;

        .hashtag{
          font-size: 1.5rem;
        }

        @include base.mobile{
          font-size: 1.5rem;

          .hashtag{
            font-size: 1rem;
          }
        }
      }

      .user-cell{
        @extend .header-text;

        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: center;

        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: left;

        cursor: pointer;

        padding: 0px 8px;
        gap: 8px;

        img{
          height: 64px;
          width: 64px;
          border-radius: 50%;

          border: 2px solid $colorful-accent-gradientColor2;
        }

        @include base.mobile{
          font-size: 1rem;

          gap: 8px;

          img{
            height: 48px;
            width: 48px;
          }
        }
      }

      .score-text{
        @extend .numeric;
        @extend .gradient-text;

        font-size: 1.75rem;
        font-weight: 800;

        background: $text-90gradient;
        text-shadow: 0 0 30px rgba($colorful-accent-gradientColor2, 0.5);

        @include base.mobile{
          font-size: 1.2rem;
        }
      }
    }
  }
}

.seasonal-row{
  @include base.mobile{
    display: none;
  }
}
