@use '../../../styles' as *;
@use '../../../styling/colors' as *;

.border{
  border-top: 1px solid rgba($primary-color, 0.5);
  border-bottom: 1px solid rgba($primary-color, 0.5);
  border-left: 1px solid rgba($primary-color, 0.5);
  border-right: 1px solid rgba($primary-color, 0.5);
}

.bigText{
  font-size: 2rem;
}

.link {
  color: $text-color !important;
  text-decoration: none;
  cursor: pointer;
}

.flexRow{
  display: flex;
  flex-direction: row;
}
