@use '@angular/material' as mat;
@use "../colors" as *;

@include mat.expansion-overrides((
  container-background-color: $background-shade,
  header-text-color: $text-color,
  header-description-color: darken($text-color, 10%),
  header-indicator-color: $text-color,
  container-shape: 'flat',

  header-text-font: 'Inter',
  header-text-weight: '800',

  header-text-size: 1.5rem,
));
