@use '@angular/material' as mat;
@use "../colors" as *;

.mat-mdc-tab-label-container{
  border-bottom: 1px solid rgba($accent-color, 0.5) !important;
}

@include mat.tabs-overrides((
  foreground-color: $text-color,
  active-label-text-color: $text-color,
  active-hover-label-text-color: $text-color,
  active-focus-label-text-color: $primary-color,
  inactive-label-text-color: $text-color,
  inactive-hover-label-text-color: $text-color,
  inactive-focus-label-text-color: $text-color,

  active-indicator-color: $primary-color,
  active-focus-indicator-color: $primary-color,
  active-hover-indicator-color: $primary-color,

  pagination-icon-color: $text-color,

  label-text-font: 'Inter',
  label-text-weight: '800',

  label-text-size: 1.5rem,
));
