@use '../colors' as *;
@use '../base' as base;

.mat-mdc-table {
  background: transparent !important;
}

.mat-mdc-header-cell {
  @extend .header-text;

  color: $text-color !important;

  background-color: rgba($colorful-accent-gradientColor2, 0.5) !important;

  &:first-child{
    border-radius: 6px 0 0 0 !important;
  }

  &:last-child{
    border-radius: 0 6px 0 0 !important;
  }

  font-size: 1.5rem;

  @include base.mobile {
    font-size: 1rem;
  }
}

.mat-mdc-cell {
  @extend .header-text;

  font-size: 14pt;

  background-color: transparent !important;
  //border-top: 1px solid    rgb($colorful-accent-gradientColor2, 0.5) !important;
  //border-left: 1px solid   rgb($colorful-accent-gradientColor2, 0.5) !important;
  //border-bottom: 1px solid rgb($colorful-accent-gradientColor2, 0.5) !important;
  //border-right: 1px solid  rgb($colorful-accent-gradientColor2, 0.5) !important;
}

.mat-mdc-row {
  color: $text-color !important;
  background-color: transparent !important;
  border-top: 3px solid $colorful-accent-gradientColor2 !important;
  border-left: 3px solid $colorful-accent-gradientColor2 !important;
  border-bottom: 3px solid $colorful-accent-gradientColor2 !important;
  border-right: 3px solid $colorful-accent-gradientColor2 !important;
}
