@use '../colors' as *;
@use '../base' as base;

.mat-mdc-table {
  background: transparent !important;
}

.mat-mdc-header-cell {
  @extend .header-text;

  color: $text-color !important;

  background-color: rgba($colorful-accent-gradientColor2, 0.5) !important;

  &:first-child{
    border-radius: 6px 0 0 0 !important;
  }

  &:last-child{
    border-radius: 0 6px 0 0 !important;
  }

  font-size: 1.5rem;

  @include base.mobile {
    font-size: 1rem;
  }
}

.mat-mdc-cell {
  font-size: 1.2rem;

  background-color: transparent !important;
}

.mat-mdc-row {
  color: $text-color !important;
  background-color: $background-color !important;

  transition: all 0.3s ease-in-out;

  &:hover{
    transform: translateX(5px);

    color: $colorful-accent-gradientColor2 !important;
    background-color: rgba($colorful-accent-gradientColor2, 0.05) !important;
  }
}

//tr, td{
//  transition: all 0.3s ease-in-out;
//
//  &:hover{
//    color: $colorful-accent-gradientColor2;
//    filter: brightness(1.1);
//  }
//}

