// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@font-face {
  font-family: 'HUN';
  src: url('/assets/fonts/hun2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CB';
  src: url('/assets/fonts/cb.ttf');
  font-weight: normal;
  font-style: normal;
}


html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* You can add global styles to this file, and also import other style files */

$text-color: #f2ebe4;
$background-color: #1d150c;
$background-shade: rgba(255, 255, 255, 0.03);
$primary-color: #debf9f;
$secondary-color: #7c5123;
$accent-color: #d38838;


$easy-text-color: #6baeff;
$normal-text-color: #ff9c6b;
$normal-accent-color: #b83a1b;
$hard-text-color: #e75959;
$hard-accent-color: #e57373;
$expert-accent-color: #d49b07;
$reverse-text-color: #FFFFFF;
$reverse-accent-color: #ff0059;
$expert-text-color: #ffc107;

$community-text-color: #a164ff;

html{
  color: $text-color;

  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html, body {
  font-family: "Telex", sans-serif;
  font-weight: 400;

  border: none;
}

body {
  margin: auto;

  background-color: $background-color !important;

  min-width: 1080px;
  max-width: 1500px;

  @media screen and (max-width: 1080px) {
    width: 100%;
    margin: initial;
    min-width: initial;
  }
}

hr{
  color: $primary-color;
}

.normalText{
  font-family: "Telex", sans-serif;
  font-weight: 400;
}

.boldText{
  font-family: "Hind Madurai", sans-serif;
  font-weight: 800;
}

.headerText{
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
}

.uppercase{
  text-transform: uppercase;
}

.centerText{
  text-align: center;
}

.gap {
  gap: 10px;
}

.noGap{
  gap: 0 !important;
}

.baseContainer{
  //background-color: $background-shade;
  border: 1px solid $accent-color;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexStretch{
  flex: 1;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.submitButton{
  @extend .headerText;

  padding-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-transform: uppercase;

  cursor: pointer;
  user-select: none;

  color: $text-color !important;
  font-size: 64pt;
  font-weight: bold;

  background-color: rgba($accent-color, 0.8);
  border-top: 3px solid    rgba($background-color, 0.8);
  border-left: 3px solid   rgba($background-color, 0.8);
  border-bottom: 3px solid rgba($background-color, 0.8);
  border-right: 3px solid  rgba($background-color, 0.8);

  margin: auto;

  transition: .3s transform,.3s filter,.3s box-shadow;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  &:hover{
    box-shadow: 0 6px #210707;
    transform: translateY(2px);
    filter: brightness(1.2);
  }

  &:active{
    box-shadow: 0 2px #210707;
    transform: translateY(6px);
    filter: brightness(1.5);
    transition: 50ms transform, 50ms filter, 50ms box-shadow;
  }
}

.stripes{
  background: repeating-linear-gradient( -45deg, #0d0d0d88, #0d0d0d88 12px, #1a1a1a88 12px, #1a1a1a88 25px );

  &.borderTop{
    border-top: 3px solid #00000033;
  }

  &.borderBottom{
    border-bottom: 3px solid #00000033;
  }
}

.stripesLight{
  background: repeating-linear-gradient( -45deg, #0d0d0d55, #0d0d0d55 12px, #1a1a1a55 12px, #1a1a1a55 25px );

  &.borderTop{
    border-top: 3px solid #00000033;
  }

  &.borderBottom{
    border-bottom: 3px solid #00000033;
  }
}

.mod{
  max-height: 32px;
  max-width: 32px;
  margin: 1px;
}

.bigMod{
  max-height: 48px;
  max-width: 48px;
  margin: 3px;
}

.hugeMod{
  max-height: 96px;
  max-width: 96px;
  margin: 1px;
}

.grayScale{
  filter: grayscale(100%);
}

table{
  background: transparent !important;
}

th{
  @extend .headerText;

  background-color: $background-shade !important;
  border-top: 2px solid    rgba($primary-color, 0.5) !important;
  border-left: 1px solid   rgba($primary-color, 0.5) !important;
  border-bottom: 1px solid rgba($primary-color, 0.5) !important;
  border-right: 1px solid  rgba($primary-color, 0.5) !important;

  font-size: 16pt;

  @media screen and (max-width: 600px) {
    font-size: 16pt;
  }
}

td {
  @extend .headerText;

  font-size: 14pt;

  background-color: transparent !important;
  border-top: 1px solid    rgb($primary-color, 0.5) !important;
  border-left: 1px solid   rgb($primary-color, 0.5) !important;
  border-bottom: 1px solid rgb($primary-color, 0.5) !important;
  border-right: 1px solid  rgb($primary-color, 0.5) !important;
}

tr{
  color: $text-color !important;
  background-color: transparent !important;
  border-top: 3px solid $primary-color !important;
  border-left: 3px solid $primary-color !important;
  border-bottom: 3px solid $primary-color !important;
  border-right: 3px solid $primary-color !important;
}

mat-form-field{
  @extend .boldText;
}

.mat-mdc-select-min-line{
  @extend .boldText;
}

mat-paginator{
  @extend .boldText;

  color: $text-color !important;

  background-color: $background-shade !important;

  border-left: 1px solid rgb($primary-color, 0.5) !important;
  border-right: 1px solid rgb($primary-color, 0.5) !important;

  &.borderTop{
    border-top: 3px solid rgb($primary-color, 0.5) !important;
  }

  &.borderBottom{
    border-bottom: 3px solid rgb($primary-color, 0.5) !important;
  }
}

.mat-mdc-icon-button svg{
  color: $primary-color ;
  fill: $primary-color;
}

.mat-mdc-select-arrow{
  color: $primary-color !important;
  fill: $primary-color !important;
}

.mat-mdc-paginator .mat-mdc-select {
  color: $primary-color !important;
}

select {
  border: none !important;         /* Removes the border */
  outline: none !important;        /* Prevents focus outline */
  background: none !important;     /* Removes background if needed */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
