// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styling/colors' as *;
@use 'styling/angular-styles' as *;
@use 'styling/base' as *;

@font-face {
  font-family: 'HUN';
  src: url('/assets/fonts/hun2.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CB';
  src: url('/assets/fonts/cb.ttf');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: none;
}

.mat-drawer-backdrop.mat-drawer-shown {
  backdrop-filter: blur(10px) !important;
  border-right: 1px solid $accent-color;

  transition: .2s all ease-in-out !important;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

/* You can add global styles to this file, and also import other style files */

html{
  color: $text-color;

  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html, body {
  font-family: "Telex", sans-serif;
  font-weight: 400;

  border: none;
}

body {
  margin: auto;

  background-color: $background-color !important;

  min-width: 1080px;
  max-width: 1500px;

  @media screen and (max-width: 1080px) {
    width: 100%;
    margin: initial;
    min-width: initial;
  }
}

hr{
  color: $primary-color;
}

.submitButton{
  @extend .headerText;

  padding-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  text-transform: uppercase;

  cursor: pointer;
  user-select: none;

  color: $text-color !important;
  font-size: 64pt;
  font-weight: bold;

  background-color: rgba($accent-color, 0.8);
  border-top: 3px solid    rgba($background-color, 0.8);
  border-left: 3px solid   rgba($background-color, 0.8);
  border-bottom: 3px solid rgba($background-color, 0.8);
  border-right: 3px solid  rgba($background-color, 0.8);

  margin: auto;

  transition: .3s transform,.3s filter,.3s box-shadow;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  &:hover{
    box-shadow: 0 6px $shadow-color;
    transform: translateY(2px);
    filter: brightness(1.2);
  }

  &:active{
    box-shadow: 0 2px $shadow-color;
    transform: translateY(6px);
    filter: brightness(1.5);
    transition: 50ms transform, 50ms filter, 50ms box-shadow;
  }
}

.stripes{
  background: $stipes-background;

  &.borderTop{
    border-top: 3px solid #00000033;
  }

  &.borderBottom{
    border-bottom: 3px solid #00000033;
  }
}

.stripesLight{
  background: $stripes-light-background;

  &.borderTop{
    border-top: 3px solid #00000033;
  }

  &.borderBottom{
    border-bottom: 3px solid #00000033;
  }
}

.stripesGoal {
  background: rgba(147, 51, 234, 0.3);

  &.borderTop {
    border-top: 3px solid #00000033;
  }

  &.borderBottom {
    border-bottom: 3px solid #00000033;
  }
}

.mod{
  max-height: 32px;
  max-width: 32px;
  margin: 1px;
}

.bigMod{
  max-height: 48px;
  max-width: 48px;
  margin: 3px;
}

.hugeMod{
  max-height: 96px;
  max-width: 96px;
  margin: 1px;
}

.grayScale{
  filter: grayscale(100%);
}

.mat-mdc-select-min-line{
  @extend .boldText;
}

select {
  border: none !important;         /* Removes the border */
  outline: none !important;        /* Prevents focus outline */
  background: none !important;     /* Removes background if needed */
}
